/*********** SFUI Text Light ***********/
@font-face {
  font-family: "sf-ui-display-light";
  src: local("sf-ui-display-light");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Light.eot") format("eot");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Light.ttf") format("ttf");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Light.woff") format("woff"); }

/*********** SFUI Text Regular ***********/
@font-face {
  font-family: "sf-ui-display-regular";
  src: local("sf-ui-display-light");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Regular.eot") format("eot");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Regular.ttf") format("ttf");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Regular.woff") format("woff"); }

/*********** SFUI Text Medium ***********/
@font-face {
  font-family: "sf-ui-display-medium";
  src: local("sf-ui-display-medium");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Medium.eot") format("eot");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Medium.ttf") format("ttf");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Medium.woff") format("woff"); }

/*********** SFUI Text Bold ***********/
@font-face {
  font-family: "sf-ui-display-bold";
  src: local("sf-ui-display-bold");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Bold.eot") format("eot");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Bold.ttf") format("ttf");
  src: url("../fonts/SFUI_Text/SFUIDisplay-Bold.woff") format("woff"); }

/*********** Gijgo ***********/
@font-face {
  font-family: "gijgo-material";
  src: local("gijgo-material");
  src: url("../fonts/Gijgo/gijgo-material.eot") format("eot");
  src: url("../fonts/Gijgo/gijgo-material.ttf") format("ttf");
  src: url("../fonts/Gijgo/gijgo-material.woff") format("woff"); }

/************** Specifications START **************/
body {
  background-color: #2d353b;
  font-size: 16px;
  font-family: "sf-ui-display-light";
  color: #fff;
  letter-spacing: 0.25px; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0; }

div {
  outline: none; }

a {
  color: #fff; }

a:hover {
  color: #fff; }

.mt-25 {
  margin-top: 25px; }

.aic {
  align-items: center; }

.accent-color {
  color: #caad6e !important; }

.accent-bg {
  background-color: #caad6e !important; }

.medium {
  font-family: "sf-ui-display-medium"; }

.bold {
  font-family: "sf-ui-display-bold"; }

.green-text {
  color: #caad6e; }

.orange-text {
  color: #ef984b; }

.dark-text {
  color: #80868b; }

.border-left-accent {
  border-left: 2px solid #caad6e; }

.border-left-red {
  border-left: 2px solid #ef4b4b; }

.border-left-orange {
  border-left: 2px solid #ef984b; }

.border-left-gray {
  border-left: 2px solid #80868b; }

.border-accent {
  border: 1px solid #caad6e; }

.border-gray {
  border: 1px solid #80868b; }

.opacity-0 {
  opacity: 0; }

.min-title {
  font-size: 16px; }

.text-center {
  text-align: center; }

.currency {
  font-size: 22px;
  vertical-align: top; }

.rotate-m-180 {
  transform: rotate(-180deg);
  display: inline-block; }

.h3 {
  color: #caad6e;
  font-size: 16px; }

.p {
  line-height: 20px; }

.accent-title {
  position: relative;
  max-width: 395px; }
  .accent-title h2 {
    display: inline-block;
    color: #caad6e;
    font-size: 14px;
    font-family: "sf-ui-display-light";
    letter-spacing: 1.5px;
    position: relative;
    background-color: #2d353b;
    z-index: 1;
    padding-right: 25px;
    text-transform: uppercase; }
  .accent-title .line {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #caad6e; }

.accent-button {
  background-color: #caad6e;
  box-shadow: 0px 2px 2.52px 0.48px #0a0a0a;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border: none; }
  .accent-button:hover {
    background-color: #c3a25b;
    text-decoration: none; }
  .accent-button:active {
    transform: translateY(2px);
    box-shadow: none; }

.text-gray {
  color: #80868b;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #80868b !important; }

.color-gray {
  color: #80868b !important; }

.color-red {
  color: #ef4b4b !important; }

.color-white {
  color: #fff !important; }

.table-custom {
  color: #fff;
  font-size: 14px; }
  .table-custom .table-custom__line {
    background-color: #333c42; }
  .table-custom .table-custom__column {
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 15px;
    vertical-align: middle; }
  .table-custom td {
    border: none; }
  .table-custom .table-custom__title {
    color: #80868b;
    font-size: 14px; }
    .table-custom .table-custom__title a {
      color: #80868b;
      text-decoration: underline; }
  .table-custom .wait,
  .table-custom .mistake,
  .table-custom .confirmed {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.50px; }
  .table-custom .wait {
    color: #caad6e; }
  .table-custom .mistake {
    color: #ef4b4b; }
  .table-custom .confirmed {
    color: #45a947; }
  .table-custom .gutter {
    height: 5px; }

.referal-custom {
  display: flex; }
  .referal-custom button {
    display: block;
    border: none;
    background-color: #caad6e;
    padding: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 10%; }
    .referal-custom button .mdi {
      color: #1e252a; }
  .referal-custom input {
    display: block;
    border: none;
    background-color: #1e252a;
    color: #80868b;
    padding: 8px;
    width: 90%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 15px; }

.pagination ul {
  display: flex;
  align-items: center;
  padding: 0; }
  .pagination ul li {
    list-style-type: none;
    display: block;
    border-radius: 3px; }
    .pagination ul li:hover {
      background-color: #caad6e; }
      .pagination ul li:hover a {
        color: #000; }
    .pagination ul li a {
      color: #caad6e;
      display: block;
      padding: 4px 12px; }
  .pagination ul .active {
    background-color: #caad6e; }
    .pagination ul .active a {
      color: #000; }

.accent-text {
  color: #caad6e; }

.bg-dark-light {
  background-color: #3c4349 !important; }

.price-big {
  font-size: 72px; }
  .price-big .currency {
    font-size: 40px; }

.custom__tab {
  display: flex;
  padding: 0;
  margin: 0; }
  .custom__tab li {
    list-style-type: none; }
  .custom__tab a {
    background-color: rgba(128, 134, 139, 0.3);
    padding: 10px 25px;
    margin-right: 2px;
    border-bottom: 2px solid #80868b;
    text-decoration: none;
    transition: 0.2s ease;
    color: #80868b;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .custom__tab a:hover {
      border-color: #caad6e; }
  .custom__tab .active a {
    color: #caad6e;
    border-color: #caad6e;
    background-color: rgba(202, 173, 110, 0.25); }

.maw-n {
  max-width: none; }

.dark-block {
  padding: 15px;
  background-color: #1e252a;
  border-radius: 3px; }

.custom-form .tagged {
  margin-bottom: 60px;
  position: relative; }
  .custom-form .tagged::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 1px;
    background-color: #caad6e;
    bottom: 0;
    left: 0; }

.custom-form .tagged-not-before::before {
  display: none; }

.custom-form label,
.custom-form input {
  display: block;
  width: 100%;
  outline: none; }

.custom-form label {
  color: #80868b;
  font-size: 14px;
  padding-left: 20px;
  margin: 0; }

.custom-form input {
  background: none;
  border: none;
  border-bottom: 1px solid #80868b;
  color: #fff;
  padding-left: 20px;
  padding-bottom: 10px; }

.custom-form textarea {
  border: 1px solid #80868b;
  background: none;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 3px;
  width: 100%; }

.custom-form .tagged-upload {
  border: 1px dashed #80868b;
  border-radius: 3px;
  padding: 30px 0;
  text-align: center;
  position: relative;
  z-index: 0;
  cursor: pointer; }
  .custom-form .tagged-upload input {
    border: none;
    opacity: 0;
    z-index: -1;
    position: absolute; }
  .custom-form .tagged-upload .mdi-cloud-download {
    font-size: 136px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.15; }
  .custom-form .tagged-upload h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px; }
  .custom-form .tagged-upload .download {
    cursor: pointer;
    text-decoration: underline;
    color: #caad6e;
    font-size: 16px; }

.custom-form .file-name {
  position: absolute;
  bottom: -35px;
  display: flex;
  width: 100%; }
  .custom-form .file-name p {
    font-size: 14px;
    color: #fff; }
  .custom-form .file-name .mdi-close {
    font-size: 14px;
    color: #ef4b4b;
    background: none;
    border: none;
    opacity: 1;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    position: static;
    transform: none;
    margin-left: 25px; }

.scrollable.default-skin .scroll-bar .thumb {
  background-color: #caad6e;
  background-image: url("../images/thumb-dots.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  opacity: 1;
  width: 6px; }

.scrollable.default-skin .scroll-bar.vertical::before {
  content: '';
  background-color: #80868b;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: 0; }

.hidden {
  display: none; }

.news-custom .all-news a {
  color: #caad6e; }
  .news-custom .all-news a .mdi {
    margin-right: 10px; }

.news-custom .title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 35px; }

.news-custom .image {
  margin-bottom: 25px; }
  .news-custom .image img {
    width: 100%; }

.news-custom .text {
  color: #80868b; }
  .news-custom .text p {
    margin-bottom: 18px;
    line-height: 20px; }

.news-custom .bottom {
  display: flex;
  justify-content: space-between; }
  .news-custom .bottom .date p {
    color: #80868b;
    font-size: 14px; }

.news-custom .accent-title {
  margin-bottom: 25px; }

.news-custom .similar-news__item {
  display: flex;
  background-image: -moz-linear-gradient(0deg, #1e252a 0%, #3c4349 100%);
  background-image: -webkit-linear-gradient(0deg, #1e252a 0%, #3c4349 100%);
  background-image: -ms-linear-gradient(0deg, #1e252a 0%, #3c4349 100%);
  transition: background 0.5s ease;
  text-decoration: none;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  z-index: 0; }
  .news-custom .similar-news__item:hover {
    background-image: none; }
    .news-custom .similar-news__item:hover::before {
      height: 100%; }
    .news-custom .similar-news__item:hover::after {
      height: 100%; }
  .news-custom .similar-news__item::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background-color: #caad6e;
    height: 0;
    transition: 0.5s ease; }
  .news-custom .similar-news__item::after {
    content: '';
    background-color: #1e252a;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    transition: 0.5s ease; }
  .news-custom .similar-news__item .left {
    width: 30%;
    overflow: hidden;
    position: relative; }
    .news-custom .similar-news__item .left img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%; }
  .news-custom .similar-news__item .right {
    width: 70%;
    padding: 30px; }

.popup-custom {
  background-color: #1e252a;
  max-width: 500px;
  padding: 25px;
  padding-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px; }

#wallet-balance-popup p {
  margin-bottom: 15px; }

.dropdown-menu {
  background-color: #1e252a;
  padding: 10px;
  float: none;
  min-width: auto; }
  .dropdown-menu .dropdown__link:nth-last-child(n+2) {
    margin-bottom: 8px; }

.custom-popup {
  background-color: #31393f;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 20px auto; }
  .custom-popup input {
    display: block;
    background: none;
    border: 1px solid #80868b;
    border-radius: 3px;
    padding: 8px 15px;
    color: #fff;
    width: 100%; }
  .custom-popup label {
    color: #80868b; }
  .custom-popup .cancel-custom {
    cursor: pointer;
    color: #f9fafa;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    display: inline-block; }

.background-effect {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .background-effect canvas {
    width: 100% !important;
    height: 100% !important; }

/************** Specifications END **************/
/************** Magnific popup animation START **************/
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #2d353b;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .preloader .preloader__loader {
    height: 8px;
    width: 100%;
    background-color: #3c4349;
    margin-top: 15px;
    position: relative;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4px;
    overflow: hidden; }
    .preloader .preloader__loader span {
      position: absolute;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background-color: #fff;
      animation: loader 3s ease infinite; }

@keyframes loader {
  0% {
    transform: none;
    width: 10px; }
  50% {
    transform: translateX(88px);
    width: 4px; }
  100% {
    transform: none;
    width: 4px; } }

/************** Magnific popup animation END **************/
/************** Mmenu customed styles START **************/
.mm-menu {
  --mm-color-background: #1e252a;
  --mm-color-text: #111;
  width: 100%;
  max-width: 230px; }
  .mm-menu .mm-navbar {
    border: none; }

.logo {
  margin-bottom: 50px;
  margin-top: 40px; }

.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
  -webkit-transform: translate3d(230px, 0, 0) !important;
  transform: translate3d(230px, 0, 0) !important; }

#my-menu ul .mdi {
  margin-right: 15px; }

#my-menu ul a {
  color: #80868b; }
  #my-menu ul a:hover {
    color: #caad6e; }

#my-menu ul .menu-active {
  color: #caad6e; }

/************** Mmenu customed styles END **************/
#my-page {
  background-color: #2d353b; }

/************** Header START **************/
.hamburger--collapse .hamburger-inner::before {
  top: -8px; }

.hamburger--collapse .hamburger-inner::after {
  top: -16px; }

#my-header .header-top__profile-column {
  justify-content: flex-end; }

#my-header .header-top {
  background-color: #3c4349;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px; }

#my-header .hamburger {
  outline: none;
  background: none;
  appearance: none;
  -webkit-appearance: none; }
  #my-header .hamburger .hamburger-inner {
    border-radius: 0;
    width: 35px;
    height: 3px;
    background-color: #1e252a;
    border-left: 5px solid #caad6e; }
    #my-header .hamburger .hamburger-inner::before, #my-header .hamburger .hamburger-inner::after {
      border-radius: 0;
      width: 35px;
      height: 3px;
      background-color: #1e252a;
      border-left: 5px solid #caad6e;
      left: -5px; }

#my-header .is-active .hamburger-inner {
  border: none; }
  #my-header .is-active .hamburger-inner::before, #my-header .is-active .hamburger-inner::after {
    border: none;
    left: 0; }

#my-header .gray-partner {
  display: flex;
  align-items: center;
  color: #fff; }
  #my-header .gray-partner .mdi {
    color: #caad6e;
    font-size: 16px; }
  #my-header .gray-partner p {
    margin-left: 8px; }

#my-header .header-top__search {
  color: #80868b;
  max-width: 342px;
  background-color: #2d353b;
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }
  #my-header .header-top__search input,
  #my-header .header-top__search button {
    appearance: none;
    background: none;
    border: none;
    color: #80868b;
    outline: none; }
  #my-header .header-top__search input {
    width: 90%;
    padding-left: 10px;
    margin-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #31383e; }
  #my-header .header-top__search button {
    background-color: #1e252a;
    width: 10%; }

#my-header .header-top__lang {
  margin-right: 25px; }
  #my-header .header-top__lang .dropdown {
    width: auto; }
  #my-header .header-top__lang .dropdown-toggle {
    background-color: #3c4349;
    color: #fff;
    font-size: 14px;
    border-color: #80868b;
    padding: 5px 10px; }
  #my-header .header-top__lang a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 20px; }
    #my-header .header-top__lang a:hover {
      background-color: #3c4349; }
  #my-header .header-top__lang .photo {
    margin-right: 5px; }
    #my-header .header-top__lang .photo img {
      width: 20px; }
  #my-header .header-top__lang .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0; }
    #my-header .header-top__lang .dropdown-menu a {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }

#my-header .header-top__profile {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#my-header .profile-dropdown a {
  color: #fff;
  padding: 5px 10px; }
  #my-header .profile-dropdown a:nth-last-child(n+2) {
    border-bottom: 1px solid #80868b; }
  #my-header .profile-dropdown a:hover {
    background-color: #80868b; }

#my-header .header-top__notification {
  color: #fff;
  margin-right: 40px;
  position: relative; }
  #my-header .header-top__notification .length {
    background-color: #ef4b4b;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 12px;
    position: absolute;
    top: -7px;
    right: -7px; }

#my-header .header-top__profile-item {
  display: flex;
  align-items: center; }
  #my-header .header-top__profile-item .avatar {
    margin-right: 10px; }
  #my-header .header-top__profile-item p {
    margin-right: 20px; }

.my-content {
  padding: 45px 20px; }

/************** Header responsive START **************/
@media screen and (max-width: 992px) {
  #my-header .header-top__row {
    justify-content: space-between; }
  #my-header .header-top__profile-column {
    margin: 0 !important; } }

@media screen and (max-width: 768px) {
  #my-header .hamburger {
    padding-left: 0; }
  #my-header .header-top__gray-column,
  #my-header .header-top__profile-column {
    order: 1; }
  #my-header .header-top__profile-column,
  #my-header .header-top__gray-column {
    margin-top: 15px !important; }
  #my-header .header-top__profile-item p {
    margin-right: 10px; }
  #my-header .header-top {
    padding-bottom: 25px; }
  #my-header .header-top__search {
    margin-left: auto; } }

@media screen and (max-width: 480px) {
  #my-header .header-top__profile,
  #my-header .gray-partner {
    justify-content: center; }
  #my-header .gray-partner {
    margin-bottom: 10px; } }

/************** Header responsive END **************/
/************** Header END **************/
/************** Dashboard START **************/
/************** Dashboard All information START **************/
.d-all-information .accent-title {
  margin-bottom: 26px; }

.d-all-information .card__wrap {
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between; }

.d-all-information .card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3c4349;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 2px solid #caad6e;
  width: 23%; }
  .d-all-information .card__item .card__title {
    font-size: 14px;
    color: #80868b;
    margin-bottom: 15px; }
  .d-all-information .card__item .card__number {
    font-size: 36px;
    color: #fff; }
    .d-all-information .card__item .card__number .usd {
      font-size: 18px;
      vertical-align: top; }

/************** Dashboard All information Responive START **************/
@media screen and (max-width: 1300px) {
  .d-all-information .card__item {
    padding: 10px; } }

@media screen and (max-width: 992px) {
  .dashboard__right {
    margin-top: 50px; } }

@media screen and (max-width: 1170px) {
  .d-all-information .card__item .card__number {
    font-size: 26px; } }

@media screen and (max-width: 630px) {
  .d-all-information .card__wrap {
    flex-wrap: wrap; }
  .d-all-information .card__item {
    width: 48%;
    margin-bottom: 20px; } }

@media screen and (max-width: 400px) {
  .d-all-information .card__item .card__number {
    font-size: 22px; } }

/************** Dashboard All information Responive END **************/
/************** Dashboard All information END **************/
/************** Dashboard Status START **************/
.d-status {
  margin-top: 85px; }
  .d-status .accent-title {
    margin-bottom: 25px; }
  .d-status .verification {
    background-color: #1e252a;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .d-status .verification .left,
    .d-status .verification .right {
      width: 50%; }
    .d-status .verification .left {
      color: #ef4b4b; }
    .d-status .verification .right {
      text-align: right; }
      .d-status .verification .right a {
        color: #caad6e;
        text-decoration: underline; }
  .d-status .card__wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
    .d-status .card__wrap .card__item {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
      background-color: #3c4349;
      padding: 20px;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      color: #80868b;
      width: 16%;
      padding-bottom: 65px;
      position: relative;
      transition: transform 0.5s ease; }
      .d-status .card__wrap .card__item .image {
        margin-bottom: 15px; }
      .d-status .card__wrap .card__item .text__wrap {
        margin-bottom: 8px; }
      .d-status .card__wrap .card__item .bottom {
        text-transform: uppercase;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%); }
    .d-status .card__wrap .card__active {
      background-image: -moz-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
      background-image: -webkit-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
      background-image: -ms-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
      color: #1e252a;
      transform: translateY(-12px); }
      .d-status .card__wrap .card__active .green-text,
      .d-status .card__wrap .card__active .orange-text {
        color: #fff; }

/************** Dashboard Status Responsive START **************/
@media screen and (max-width: 1360px) {
  .d-status {
    margin-top: 40px; }
    .d-status .card__wrap {
      flex-wrap: wrap; }
      .d-status .card__wrap .card__item {
        width: 30%;
        margin-bottom: 20px; }
      .d-status .card__wrap .card__active {
        transform: none; } }

@media screen and (max-width: 480px) {
  .d-status .card__wrap .card__item {
    width: 48%; }
  .d-status .verification .left,
  .d-status .verification .right {
    width: 100%;
    text-align: center; }
  .d-status .verification .left {
    margin-bottom: 15px; } }

/************** Dashboard Status Responsive END **************/
/************** Dashboard Status END **************/
/************** Dashboard Range START **************/
.d-range {
  margin-top: 30px;
  margin-bottom: 70px;
  position: relative; }
  .d-range .min-title {
    color: #fff; }
  .d-range .range__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-bottom: 2px dashed #1e252a;
    position: relative;
    padding-bottom: 15px; }
    .d-range .range__wrap p {
      color: #80868b; }
  .d-range .range__left {
    text-align: left; }
  .d-range .range__center {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 15px; }
  .d-range .range__right {
    text-align: right; }
  .d-range .line {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px; }
  .d-range .line-left {
    width: 50%;
    background-color: #fff;
    height: 100%;
    position: relative; }
  .d-range .circle-left,
  .d-range .circle-center,
  .d-range .circle-right {
    background-color: #caad6e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .d-range .circle-left {
    width: 12px;
    height: 12px;
    left: -1px; }
  .d-range .circle-center {
    width: 6px;
    height: 6px;
    right: 0; }
    .d-range .circle-center::before {
      content: '';
      display: block;
      background-image: url("../images/min-triangle.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      position: absolute;
      top: -150%;
      left: 1px;
      width: 6px;
      height: 6px; }
  .d-range .circle-right {
    width: 12px;
    height: 12px;
    right: 0;
    bottom: 0;
    background-color: #1e252a; }

/************** Dashboard Range END **************/
/************** Dashboard Old purchases START **************/
.d-old-purchases {
  margin-top: 120px; }
  .d-old-purchases .table {
    margin-top: 15px;
    border: none;
    font-size: 14px;
    display: block;
    overflow-x: auto; }
    .d-old-purchases .table .title,
    .d-old-purchases .table .table__line {
      color: #fff; }
    .d-old-purchases .table .title td {
      padding-bottom: 10px; }
    .d-old-purchases .table .table__line {
      background-color: #3c4349; }
    .d-old-purchases .table .title {
      color: #80868b; }
    .d-old-purchases .table td {
      border: none;
      padding: 20px 15px;
      vertical-align: middle; }
    .d-old-purchases .table .desc {
      width: 30%; }
    .d-old-purchases .table .status a {
      background-color: #caad6e;
      box-shadow: 0px 2px 2.52px 0.48px #0a0a0a;
      display: block;
      padding: 10px 15px;
      text-align: center;
      border-radius: 3px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      position: relative; }
      .d-old-purchases .table .status a:hover {
        background-color: #c3a25b; }
      .d-old-purchases .table .status a:active {
        transform: translateY(2px);
        box-shadow: none; }
    .d-old-purchases .table .arrow {
      font-size: 24px; }
    .d-old-purchases .table .gutter {
      height: 5px; }

/************** Dashboard Old purchases END **************/
/************** Dashboard right START **************/
.dashboard__right .dashboard-diagram:nth-child(n+2) {
  margin-top: 100px; }

.dashboard__right .accent-title {
  margin-bottom: 25px; }

/************** Dashboard right END **************/
/************** Dashboard END **************/
.more-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e252a;
  width: 50px;
  border: 2px solid #3c4349;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #caad6e;
  height: 20px; }

/************** Wallet START **************/
/************** Wallet Price START **************/
.wallet-price .wallet-top__title {
  color: #80868b;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin-bottom: 15px; }
  .wallet-price .wallet-top__title .mdi {
    color: #caad6e;
    margin-left: 15px; }

.wallet-price .number {
  font-size: 60px;
  color: #fff;
  letter-spacing: 0.25px;
  display: flex; }

.wallet-price .currency {
  font-size: 40px;
  margin-left: 15px; }

.wallet-price .wallet-top__btn {
  display: flex; }
  .wallet-price .wallet-top__btn a {
    width: 50%; }
  .wallet-price .wallet-top__btn .how-button {
    margin-left: 20px;
    font-size: 14px;
    color: #80868b;
    text-decoration: underline; }

#myChartWallet {
  height: 100% !important;
  width: 100% !important; }

/************** Wallet Price END **************/
/************** Wallet Transaction START **************/
.wallet-transactions {
  margin-top: 90px; }
  .wallet-transactions .table {
    margin-top: 30px; }
  .wallet-transactions .table-custom__title {
    font-size: 12px; }

.wallet-course-liger {
  margin-top: 60px; }
  .wallet-course-liger .dashboard-diagram .accent-title {
    width: 100%;
    display: flex;
    align-items: center; }
  .wallet-course-liger .dashboard-diagram .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
  .wallet-course-liger .mount-tab a {
    display: inline-block;
    margin-right: 15px;
    color: #80868b;
    text-decoration: underline;
    font-size: 14px; }
  .wallet-course-liger .mount-tab .active {
    color: #caad6e; }

.wallet-popup__wrap {
  max-width: 490px; }
  .wallet-popup__wrap h3 {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center; }
  .wallet-popup__wrap h4 {
    font-size: 16px;
    color: #80868b;
    margin-bottom: 22px; }
  .wallet-popup__wrap .wallet-popup__radio {
    display: flex;
    justify-content: space-between; }
    .wallet-popup__wrap .wallet-popup__radio .radio__item {
      width: 48%;
      border: 1px solid #80868b;
      padding: 10px 15px;
      border-radius: 3px;
      display: flex;
      align-items: center; }
      .wallet-popup__wrap .wallet-popup__radio .radio__item input {
        width: 10%;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none; }
        .wallet-popup__wrap .wallet-popup__radio .radio__item input::before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background-color: transparent;
          border: 1px solid #f9fafa;
          border-radius: 50%; }
        .wallet-popup__wrap .wallet-popup__radio .radio__item input:checked::before {
          background-color: #caad6e;
          border: none; }
      .wallet-popup__wrap .wallet-popup__radio .radio__item label {
        width: 90%;
        text-align: left;
        margin-left: 12px; }
    .wallet-popup__wrap .wallet-popup__radio .active {
      border: 1px solid #caad6e; }
    .wallet-popup__wrap .wallet-popup__radio label {
      margin: 0;
      padding: 0; }
  .wallet-popup__wrap .copy-link {
    width: 100%;
    display: flex;
    margin-top: 30px;
    border: 1px solid #80868b;
    border-radius: 3px; }
    .wallet-popup__wrap .copy-link span {
      width: 12%;
      background-color: #1e252a;
      border: none;
      font-size: 20px;
      color: #80868b;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    .wallet-popup__wrap .copy-link input {
      width: 88%;
      background: none;
      color: #80868b;
      padding: 10px 25px;
      border: none; }
  .wallet-popup__wrap .qr-code {
    margin-top: 40px; }
  .wallet-popup__wrap .accent-button {
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }

.wallet-popup__withdraw {
  max-width: 600px;
  text-align: left; }
  .wallet-popup__withdraw .available {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .wallet-popup__withdraw .available h4 {
      margin: 0; }
    .wallet-popup__withdraw .available .amount {
      background-color: #1e252a;
      padding: 10px 0;
      width: 200px;
      border-radius: 3px;
      color: #caad6e;
      font-family: "sf-ui-display-medium";
      text-align: center; }
  .wallet-popup__withdraw .wallet-popup__inner {
    margin-top: 35px; }
  .wallet-popup__withdraw .wallet-popup__item .input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .wallet-popup__withdraw .wallet-popup__item .input .left {
      width: 90%; }
    .wallet-popup__withdraw .wallet-popup__item .input .right {
      width: 10%;
      text-align: right; }
    .wallet-popup__withdraw .wallet-popup__item .input input {
      width: 100%;
      border: 1px solid #80868b;
      background: none;
      padding: 8px 20px;
      border-radius: 3px;
      color: #fff; }
  .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__wrap {
    display: flex;
    justify-content: space-between; }
  .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item {
    display: flex;
    width: 48%;
    border: 1px solid #80868b;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 15px; }
    .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item input {
      width: 10%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: none; }
      .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item input::before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 1px solid #f9fafa;
        border-radius: 50%; }
      .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item input:checked::before {
        background-color: #caad6e;
        border: none; }
    .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item label {
      width: 90%;
      text-align: left;
      margin-left: 12px;
      margin-bottom: 0; }
  .wallet-popup__withdraw .wallet-popup__item .active {
    border: 1px solid #caad6e; }
  .wallet-popup__withdraw .wallet-popup__item .your-get {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e252a;
    padding: 10px 25px;
    border-radius: 3px;
    margin-top: 35px; }
    .wallet-popup__withdraw .wallet-popup__item .your-get h4 {
      margin: 0; }
  .wallet-popup__withdraw .wallet-popup__item .warning {
    text-align: center;
    margin-top: 35px;
    color: #80868b; }
  .wallet-popup__withdraw .input__wrap {
    margin-top: 35px; }
    .wallet-popup__withdraw .input__wrap .input__duo {
      display: flex;
      justify-content: space-between; }
    .wallet-popup__withdraw .input__wrap .left,
    .wallet-popup__withdraw .input__wrap .right {
      width: 48%; }
    .wallet-popup__withdraw .input__wrap .input__item {
      margin-bottom: 20px; }
    .wallet-popup__withdraw .input__wrap input {
      display: block;
      background: none;
      border: 1px solid #80868b;
      border-radius: 3px;
      padding: 8px 15px;
      color: #fff;
      width: 100%; }
    .wallet-popup__withdraw .input__wrap label {
      color: #80868b; }
  .wallet-popup__withdraw .liger__number {
    margin-top: 35px; }
  .wallet-popup__withdraw .text {
    color: #80868b;
    margin-top: 35px;
    font-size: 14px; }
    .wallet-popup__withdraw .text p {
      margin-bottom: 15px; }

/************** Wallet Transaction END **************/
/************** Wallet Responsive START **************/
@media screen and (max-width: 1210px) {
  .wallet-price .number {
    font-size: 56px; } }

@media screen and (max-width: 992px) {
  .wallet-price .wallet-top__btn {
    flex-wrap: wrap; }
    .wallet-price .wallet-top__btn a {
      width: 100%;
      text-align: center;
      margin-left: 0 !important; }
    .wallet-price .wallet-top__btn .accent-button {
      margin-bottom: 15px; } }

@media screen and (max-width: 768px) {
  .wallet-price .number {
    font-size: 42px; }
  .wallet-price .wallet-top__btn {
    flex-direction: column;
    align-items: flex-start; }
    .wallet-price .wallet-top__btn .how-button {
      margin-left: 0;
      margin-top: 10px; } }

@media screen and (max-width: 630px) {
  .wallet-price .number {
    display: flex;
    flex-direction: column; }
  .wallet-price .currency {
    margin-left: 0; } }

@media screen and (max-width: 576px) {
  .wallet-price .wallet-top__column:nth-last-child(n+2) {
    margin-bottom: 40px; }
  .wallet-price .wallet-top__item {
    text-align: center; }
    .wallet-price .wallet-top__item p {
      display: block; }
  .wallet-price .accent-button {
    margin-left: auto;
    margin-right: auto; }
  .wallet-price .wallet-top__btn .how-button {
    margin-left: auto;
    margin-right: auto; }
  .wallet-transactions {
    margin-top: 40px; } }

@media screen and (max-width: 480px) {
  .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__wrap {
    flex-wrap: wrap; }
  .wallet-popup__withdraw .wallet-popup__item .withdraw-radio__item {
    width: 100%;
    margin-bottom: 20px; } }

/************** Wallet Responsive END **************/
/************** Wallet END **************/
/************** Shop START **************/
/************** Shop Top START **************/
.p-shop .shop-top-card__item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-radius: 3px;
  overflow: hidden; }
  .p-shop .shop-top-card__item .left {
    background-color: #3c4349;
    width: 50%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .p-shop .shop-top-card__item .left .title h3 {
      color: #caad6e;
      font-size: 36px; }
    .p-shop .shop-top-card__item .left .bonus {
      text-align: right; }
      .p-shop .shop-top-card__item .left .bonus a {
        color: #caad6e;
        font-size: 12px;
        text-decoration: underline; }
  .p-shop .shop-top-card__item .center {
    background-color: #31393f;
    width: 33%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .p-shop .shop-top-card__item .center h3 {
      color: #caad6e;
      font-size: 36px; }
  .p-shop .shop-top-card__item .right {
    background-color: #caad6e;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px; }
    .p-shop .shop-top-card__item .right a {
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 20px;
      text-decoration: none; }
      .p-shop .shop-top-card__item .right a:hover {
        background-color: #c3a25b; }

/************** Shop Top END **************/
/************** Shop Events START **************/
.shop-events {
  margin-top: 50px; }
  .shop-events .event-ticket__wrap {
    margin-top: 55px; }
  .shop-events .event-ticket__item {
    display: flex;
    background-color: #1e252a;
    overflow: hidden;
    border-radius: 3px;
    height: 100%; }
    .shop-events .event-ticket__item .title {
      font-size: 24px;
      color: #caad6e;
      margin-bottom: 15px; }
    .shop-events .event-ticket__item .photo {
      overflow: hidden;
      width: 23%; }
      .shop-events .event-ticket__item .photo img {
        height: 100%; }
    .shop-events .event-ticket__item .content {
      width: 77%;
      padding: 25px;
      padding-left: 40px;
      padding-bottom: 85px;
      position: relative; }
    .shop-events .event-ticket__item .date {
      margin-bottom: 20px;
      font-size: 14px; }
    .shop-events .event-ticket__item .text {
      color: #80868b;
      line-height: 22px;
      margin-bottom: 20px; }
  .shop-events .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 85%; }
    .shop-events .bottom .price {
      font-size: 35px;
      color: #caad6e; }
    .shop-events .bottom .buy {
      display: flex;
      align-items: center;
      max-width: 180px;
      width: 100%;
      justify-content: space-between; }
    .shop-events .bottom .increment {
      display: flex;
      margin-right: 15px; }
      .shop-events .bottom .increment a {
        text-decoration: none;
        color: #80868b; }
      .shop-events .bottom .increment .value {
        margin: 0 10px;
        color: #caad6e;
        -moz-appearance: textfield;
        display: inline-block;
        width: 20px;
        background: none;
        border: none;
        text-align: center; }
      .shop-events .bottom .increment input::-webkit-outer-spin-button,
      .shop-events .bottom .increment input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .shop-events .bottom .accent-button {
      padding: 10px 20px;
      font-size: 14px; }
  .shop-events .custom-dots {
    text-align: center;
    padding: 0;
    margin-top: 24px; }
    .shop-events .custom-dots li {
      list-style-type: none;
      background-color: #3c4349;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 20px; }
      .shop-events .custom-dots li button {
        display: none;
        border: none; }
    .shop-events .custom-dots .slick-active {
      background-color: #caad6e; }

/************** Shop Events END **************/
/************** Shop Gold bars START **************/
.shop-gold-bars {
  margin-bottom: 35px; }
  .shop-gold-bars .card__wrap {
    margin-top: 25px; }
  .shop-gold-bars .card__item {
    background-image: -moz-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
    background-image: -webkit-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
    background-image: -ms-linear-gradient(-45deg, #caad6e 0%, #80602f 100%);
    padding: 30px 20px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    transition: 0.5s ease; }
    .shop-gold-bars .card__item:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 46.15px 18.85px rgba(202, 173, 110, 0.41); }
    .shop-gold-bars .card__item .photo {
      margin-bottom: 32px; }
    .shop-gold-bars .card__item .title {
      color: #896936;
      font-size: 48px;
      font-family: "sf-ui-display-bold";
      box-shadow: 0.707px 0.707px 0px 0px rgba(202, 173, 110, 0.004);
      position: relative;
      margin-bottom: 25px;
      z-index: 0; }
      .shop-gold-bars .card__item .title::before {
        content: attr(title);
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        color: #caad6e;
        left: 1px;
        top: 1px; }
    .shop-gold-bars .card__item .price {
      color: #000;
      font-size: 24px;
      margin-bottom: 15px; }
      .shop-gold-bars .card__item .price .currency-min {
        font-size: 14px;
        vertical-align: top; }
    .shop-gold-bars .card__item .buy-button {
      background-color: #1e252a;
      display: inline-block;
      text-transform: uppercase;
      color: #caad6e;
      padding: 8px 15px;
      font-size: 14px;
      border-radius: 3px;
      text-decoration: none;
      position: relative;
      z-index: 0;
      overflow: hidden; }
      .shop-gold-bars .card__item .buy-button:hover::before {
        transform: none; }
      .shop-gold-bars .card__item .buy-button::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #13181b;
        z-index: -1;
        transition: 0.5s ease;
        transform: translateY(-100%); }
    .shop-gold-bars .card__item .more {
      display: block;
      color: #1e252a;
      font-size: 12px;
      font-family: "sf-ui-display-regular";
      text-decoration: underline;
      margin-top: 5px; }
  .shop-gold-bars .you-have {
    font-size: 12px;
    text-align: center;
    color: #80868b;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%; }
    .shop-gold-bars .you-have a {
      text-decoration: none; }
    .shop-gold-bars .you-have span {
      text-decoration: underline; }

/************** Shop Gold bars END **************/
/************** Shop Responsive START **************/
@media screen and (max-width: 992px) {
  .p-shop .shop-top-card__column:nth-last-child(n+2) {
    margin-bottom: 25px; } }

@media screen and (max-width: 768px) {
  .shop-gold-bars .card__item {
    margin-bottom: 35px; } }

@media screen and (max-width: 480px) {
  .p-shop .shop-top-card__item .left {
    flex-direction: column;
    align-items: flex-start;
    width: 40%; }
    .p-shop .shop-top-card__item .left .title h3 {
      font-size: 28px; }
  .p-shop .shop-top-card__item .center {
    width: 40%; }
  .p-shop .shop-top-card__item .right {
    width: 20%; }
  .shop-events .event-ticket__item .title {
    font-size: 22px; }
  .shop-events .event-ticket__item .date {
    font-size: 13px; }
  .shop-events .event-ticket__item .text {
    font-size: 14px; }
  .shop-events .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .shop-events .bottom .price {
      font-size: 28px; }
    .shop-events .bottom .buy {
      max-width: none; } }

@media screen and (max-width: 400px) {
  .p-shop .shop-top-card__item {
    flex-direction: column; }
    .p-shop .shop-top-card__item .left,
    .p-shop .shop-top-card__item .center,
    .p-shop .shop-top-card__item .right {
      align-items: center;
      width: 100%; }
  .p-shop .shop-top-card__item .bg-dark-light {
    padding: 15px 0; }
  .shop-events .event-ticket__item .photo {
    display: none; }
  .shop-events .event-ticket__item .content {
    width: 100%;
    padding-left: 25px; } }

/************** Shop Responsive END **************/
/************** Shop END **************/
/************** Purchases START **************/
.purchases .accent-title {
  margin-bottom: 20px; }

.purchases .table-custom .button {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.purchases .table-custom .accent-button {
  max-width: 180px;
  width: 100%; }

.purchases .table-custom .text-gray {
  font-size: 14px;
  letter-spacing: 0.7px; }

.purchases .table-custom .mdi {
  font-size: 24px; }

/************** My team structure START **************/
.my-team-structure .team-top__column {
  display: flex; }

.my-team-structure .accent-title {
  max-width: none; }

.my-team-structure .price-big {
  text-shadow: 10.607px 10.607px 15px rgba(0, 0, 0, 0.4); }

.my-team-structure .structure-card__wrap {
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }

.my-team-structure .structure-card__item {
  background-image: -moz-linear-gradient(0deg, #1e252a 0%, #31393f 100%);
  background-image: -webkit-linear-gradient(0deg, #1e252a 0%, #31393f 100%);
  background-image: -ms-linear-gradient(0deg, #1e252a 0%, #31393f 100%);
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 48%; }
  .my-team-structure .structure-card__item .bottom {
    display: flex;
    justify-content: space-between; }
  .my-team-structure .structure-card__item .left,
  .my-team-structure .structure-card__item .right {
    color: #caad6e;
    width: 50%; }
  .my-team-structure .structure-card__item .left .color-gray {
    letter-spacing: 1.5px;
    font-size: 14px; }
  .my-team-structure .structure-card__item .number {
    font-size: 36px;
    margin-right: 10px; }
  .my-team-structure .structure-card__item .text {
    vertical-align: top; }

.my-team-structure .your-referal {
  margin-top: 70px; }
  .my-team-structure .your-referal .accent-title {
    margin-bottom: 25px; }

.my-team-structure .team-tree-tab__link {
  display: flex;
  padding: 0;
  margin: 0; }
  .my-team-structure .team-tree-tab__link li {
    list-style-type: none; }
  .my-team-structure .team-tree-tab__link a {
    display: block;
    background-color: rgba(128, 134, 139, 0.3);
    padding: 10px 25px;
    margin-right: 2px;
    border-bottom: 2px solid #80868b;
    text-decoration: none;
    transition: 0.2s ease;
    color: #80868b; }
    .my-team-structure .team-tree-tab__link a:hover {
      border-color: #caad6e; }
  .my-team-structure .team-tree-tab__link .active a {
    color: #caad6e;
    border-color: #caad6e;
    background-color: rgba(202, 173, 110, 0.25); }

.my-team-structure .team-tree__column {
  margin-top: 60px; }

.my-team-structure .team-tree-tab__content {
  background-color: #31393f;
  padding: 40px 20px;
  height: 500px;
  overflow: auto;
  position: relative; }
  .my-team-structure .team-tree-tab__content ul {
    padding: 0;
    height: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .my-team-structure .team-tree-tab__content ul li {
      width: 200px;
      list-style-type: none;
      margin-bottom: 45px; }
    .my-team-structure .team-tree-tab__content ul a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px 10px 20px;
      border-radius: 3px;
      font-size: 14px;
      background-color: #1e252a;
      text-decoration: none;
      position: relative; }
      .my-team-structure .team-tree-tab__content ul a .first-triangle {
        position: absolute;
        left: 0;
        top: 0; }
        .my-team-structure .team-tree-tab__content ul a .first-triangle img {
          vertical-align: top; }
      .my-team-structure .team-tree-tab__content ul a .cat {
        color: #80868b; }
      .my-team-structure .team-tree-tab__content ul a .mdi {
        color: #caad6e;
        background: none;
        border: none;
        outline: none; }
        .my-team-structure .team-tree-tab__content ul a .mdi:hover {
          color: #f2f2f2; }
  .my-team-structure .team-tree-tab__content ul.tree__item-sub {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 40px;
    width: 100%; }
  .my-team-structure .team-tree-tab__content .tree__item-active {
    background-image: -moz-linear-gradient(0deg, #80602f 0%, #caad6e 100%);
    background-image: -webkit-linear-gradient(0deg, #80602f 0%, #caad6e 100%);
    background-image: -ms-linear-gradient(0deg, #80602f 0%, #caad6e 100%);
    border: none; }
    .my-team-structure .team-tree-tab__content .tree__item-active .cat {
      color: #1e252a; }
    .my-team-structure .team-tree-tab__content .tree__item-active .mdi {
      color: #fff; }
  .my-team-structure .team-tree-tab__content .tree__item-inactive {
    background-color: #2d353b; }
    .my-team-structure .team-tree-tab__content .tree__item-inactive p {
      color: #80868b; }
  .my-team-structure .team-tree-tab__content .accent-first .mdi {
    color: #000; }

.my-team-structure .team-tree-tab__table {
  display: none;
  margin-top: 25px; }
  .my-team-structure .team-tree-tab__table .table-custom__title {
    border-bottom: 1px solid #80868b; }
  .my-team-structure .team-tree-tab__table .table__line {
    background: none;
    border-bottom: 1px dashed #80868b; }
    .my-team-structure .team-tree-tab__table .table__line .photo {
      margin-right: 10px; }
  .my-team-structure .team-tree-tab__table td {
    box-shadow: none; }

.my-team-structure .zoom__wrap {
  position: absolute;
  right: 30px;
  bottom: 30px; }
  .my-team-structure .zoom__wrap .zoom__item {
    width: 25px;
    height: 25px;
    background-color: rgba(202, 173, 110, 0.5);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px; }
    .my-team-structure .zoom__wrap .zoom__item:hover {
      background-color: #caad6e; }

.team-tree__zoom {
  transition: 0.5s ease;
  transform-origin: left;
  overflow: auto;
  height: 100%; }

.has-line-3::before {
  content: '';
  display: block;
  position: absolute;
  height: 44%;
  width: 25px;
  border-left: 1px dashed #caad6e;
  border-top: 1px dashed #caad6e;
  border-bottom: 1px dashed #caad6e;
  left: -25px;
  top: 45%;
  transform: translateY(-50%); }

.has-line-3::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 25px;
  border-left: 1px dashed #caad6e;
  border-top: 1px dashed #caad6e;
  border-bottom: 1px dashed #caad6e;
  left: -25px;
  top: 45%;
  transform: translateY(-50%); }

.has-line-4::before {
  content: '';
  display: block;
  position: absolute;
  height: 44%;
  width: 25px;
  border-left: 1px dashed #caad6e;
  border-top: 1px dashed #caad6e;
  border-bottom: 1px dashed #caad6e;
  left: -25px;
  top: 35%;
  transform: translateY(-50%); }

.has-line-4::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 25px;
  border-left: 1px dashed #caad6e;
  border-top: 1px dashed #caad6e;
  border-bottom: 1px dashed #caad6e;
  left: -25px;
  top: 35%;
  transform: translateY(-50%); }

.straight-line::after {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: -13px;
  width: 20px;
  height: 1px;
  border: 1px dashed #caad6e; }

.mfp-ready-new-partner .mfp-close {
  color: #fff !important; }

.new-partner-popup__wrap {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.new-partner-popup {
  background-color: #2d353b;
  box-shadow: 0px 7px 11.57px 1.43px rgba(10, 10, 10, 0.21);
  width: 100%;
  padding: 40px 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 3px; }
  .new-partner-popup form {
    width: 100%; }
  .new-partner-popup h3 {
    font-size: 22px;
    margin-bottom: 25px; }
  .new-partner-popup .partner-input {
    text-align: left;
    margin-bottom: 25px;
    color: #80868b; }
  .new-partner-popup input {
    width: 100%;
    background: none;
    border: 1px solid #80868b;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 3px; }
  .new-partner-popup a {
    display: block; }
  .new-partner-popup .generate-password {
    text-align: right;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 14px;
    color: #80868b;
    font-style: italic; }
  .new-partner-popup button {
    width: 100%;
    background-color: #caad6e;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: 0.3s ease; }
    .new-partner-popup button:hover {
      background-color: #c3a25b; }
  .new-partner-popup .cancel {
    text-decoration: underline; }

/************** My team structure responsive START **************/
@media screen and (max-width: 768px) {
  .my-team-structure .structure-card__wrap {
    flex-direction: column; }
  .my-team-structure .structure-card__item {
    width: 100%; } }

/************** My team structure responsive END **************/
/************** My team structure END **************/
/************** News START **************/
.news .news__column {
  margin-bottom: 20px;
  padding-left: 0; }

.news .news__item {
  position: relative;
  background-color: #1e252a;
  border-radius: 3px;
  height: 100%;
  overflow: hidden; }
  .news .news__item .top {
    height: 216px;
    overflow: hidden;
    position: relative; }
  .news .news__item .photo {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
    .news .news__item .photo img {
      width: 100%; }
  .news .news__item .date {
    position: absolute;
    background-color: rgba(30, 37, 42, 0.9);
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: 0.75px;
    z-index: 1;
    border-radius: 3px; }
  .news .news__item .bottom {
    padding: 20px; }
    .news .news__item .bottom h3 {
      color: #caad6e;
      font-size: 16px;
      margin-bottom: 14px; }
    .news .news__item .bottom p {
      font-size: 14px;
      color: #80868b;
      line-height: 20px; }
    .news .news__item .bottom a {
      color: #caad6e;
      margin-top: 10px;
      text-decoration: underline; }

/************** News Responsive START **************/
.news .news__column {
  padding-left: 10px;
  padding-right: 10px; }

/************** News Responsive END **************/
/************** News END **************/
/************** News inner START **************/
/************** News inner END **************/
/************** Profile START **************/
.personal-information {
  margin-top: 70px; }
  .personal-information .top {
    display: flex;
    justify-content: space-between; }
  .personal-information .info__wrap,
  .personal-information .referral-link__wrap {
    width: 48%;
    margin-right: 20px; }
  .personal-information .accent-title {
    margin-bottom: 35px; }
  .personal-information .info {
    display: flex;
    align-items: center; }
    .personal-information .info .avatar {
      margin-right: 35px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #caad6e;
      position: relative;
      box-shadow: 10.607px 10.607px 15px 0px rgba(0, 0, 0, 0.4); }
      .personal-information .info .avatar img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .personal-information .info .text .min-title {
      font-size: 14px;
      color: #80868b; }
    .personal-information .info .text .accent-color {
      font-size: 22px; }
    .personal-information .info .text__item {
      margin-bottom: 15px; }
  .personal-information .custom-form {
    margin-top: 55px;
    display: flex;
    justify-content: space-between; }
    .personal-information .custom-form .form__left,
    .personal-information .custom-form .form__right {
      width: 48%; }
  .personal-information .accent-button {
    max-width: 110px;
    font-size: 14px;
    width: 100%; }

.personal-notification .notification__wrap {
  height: 600px;
  overflow: hidden; }

.personal-notification .notification__item {
  background-color: #3c4349;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 30px 20px;
  padding-bottom: 10px;
  margin-bottom: 6px;
  position: relative;
  z-index: 0;
  display: block;
  text-decoration: none; }
  .personal-notification .notification__item:hover::after {
    height: 100%; }
  .personal-notification .notification__item::after {
    content: '';
    background-color: #1e252a;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    transition: 0.5s ease; }
  .personal-notification .notification__item .title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px; }
  .personal-notification .notification__item p {
    color: #80868b;
    font-size: 16px;
    line-height: 20px; }
  .personal-notification .notification__item .date {
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
    color: #80868b; }

.verification__wrap {
  margin-top: 70px; }
  .verification__wrap .dark-block {
    margin-top: 25px;
    margin-bottom: 40px; }
  .verification__wrap .verification__item {
    position: relative; }
    .verification__wrap .verification__item .title {
      text-transform: uppercase;
      color: #caad6e;
      margin-bottom: 30px; }
      .verification__wrap .verification__item .title .mdi {
        color: #caad6e;
        margin-left: 10px; }
        .verification__wrap .verification__item .title .mdi:hover {
          color: #fff; }
    .verification__wrap .verification__item .info-popup {
      background-color: #1e252a;
      padding: 25px;
      border-radius: 3px;
      font-size: 14px;
      position: absolute;
      z-index: 1;
      width: 100%;
      top: 25px; }
      .verification__wrap .verification__item .info-popup .mdi-close {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 8px;
        top: 5px;
        font-size: 18px; }
        .verification__wrap .verification__item .info-popup .mdi-close:hover {
          transition: 0.5s ease;
          transform: rotate(360deg); }
  .verification__wrap .custom-form .tagged {
    margin-bottom: 40px; }
  .verification__wrap .custom-form .input-accept {
    display: flex;
    align-items: center;
    margin-top: 80px; }
    .verification__wrap .custom-form .input-accept::before {
      display: none; }
    .verification__wrap .custom-form .input-accept input {
      width: 15px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      display: block;
      padding: 0;
      margin-right: 10px; }
      .verification__wrap .custom-form .input-accept input::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 3px; }
      .verification__wrap .custom-form .input-accept input:checked:before {
        background-image: url("../images/checkmark.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        background-color: #caad6e; }
    .verification__wrap .custom-form .input-accept label {
      width: 90%;
      padding-left: 0;
      user-select: none;
      color: #e3edf4; }
      .verification__wrap .custom-form .input-accept label a {
        color: #e3edf4;
        text-decoration: underline; }
        .verification__wrap .custom-form .input-accept label a:hover {
          color: #fff; }
  .verification__wrap .custom-form textarea {
    height: 152px; }
  .verification__wrap .custom-form .tagged-upload {
    height: 152px; }
  .verification__wrap .custom-form .accent-button {
    width: 100%; }
  .verification__wrap .verification__upload {
    margin-bottom: 55px; }

.authentication__wrap {
  margin-top: 60px; }
  .authentication__wrap .title {
    color: #caad6e;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 100%; }
    .authentication__wrap .title .underline {
      text-decoration: underline; }
  .authentication__wrap .authentication__item {
    clip-path: polygon(0% 0%, 83% 0, 100% 50%, 84% 100%, 0% 100%);
    height: 100%; }
    .authentication__wrap .authentication__item .content {
      z-index: 1;
      position: relative;
      clip-path: polygon(0% 0%, 83% 0, 100% 50%, 84% 100%, 0% 100%);
      background-color: #1e252a;
      padding: 40px 30px;
      transform: translateX(-2px);
      height: 100%; }
    .authentication__wrap .authentication__item .border {
      display: block;
      position: absolute;
      right: -2px;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #caad6e;
      z-index: -1;
      clip-path: polygon(0% 0%, 83% 0, 100% 50%, 84% 100%, 0% 100%); }
    .authentication__wrap .authentication__item ul {
      padding-left: 15px;
      line-height: 24px; }
  .authentication__wrap .qr__item .content {
    padding-left: 100px;
    clip-path: polygon(0px 0px, 82.3% -6px, 100.01% 50.07%, 83.32% 101.97%, 0px 100%, 17% 50%); }
  .authentication__wrap .qr__item .border {
    clip-path: polygon(70px -8px, 96.9% -10px, 99.29% 48.01%, 93.81% 99.7%, 75px 100.3%, 18.91% 45.48%); }
  .authentication__wrap .qr__item .image {
    max-width: 180px; }
    .authentication__wrap .qr__item .image img {
      width: 100%; }
  .authentication__wrap .code__item {
    clip-path: polygon(0px 0px, 103.86% -4px, 101.55% 50.07%, 105.65% 102.27%, 0px 100%, 17% 50%);
    border-right: 2px solid #ef7d4b; }
    .authentication__wrap .code__item .content {
      clip-path: polygon(0% 0%, 105.7% -2px, 104.13% 50.6%, 106.44% 100%, 0% 100%);
      padding-left: 110px; }
      .authentication__wrap .code__item .content p {
        color: #80868b;
        font-size: 14px;
        text-align: center; }
    .authentication__wrap .code__item .activate-code {
      margin-top: 25px;
      display: flex;
      max-width: 180px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative; }
      .authentication__wrap .code__item .activate-code input {
        color: #caad6e;
        font-size: 30px;
        border: none;
        display: block;
        background: none;
        width: 45%;
        -moz-appearance: textfield;
        letter-spacing: 8px;
        outline: none; }
        .authentication__wrap .code__item .activate-code input::placeholder {
          color: #80868b; }
        .authentication__wrap .code__item .activate-code input:first-child {
          margin-right: 15px; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(1) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 0; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(2) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 26px; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(3) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 52px; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(4) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 95px; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(5) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 122px; }
      .authentication__wrap .code__item .activate-code .bottom-line span:nth-child(6) {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #80868b;
        display: block;
        bottom: 0;
        left: 150px; }
    .authentication__wrap .code__item .accent-button {
      width: 100%;
      max-width: 170px;
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px; }

.change-password__wrap {
  margin-top: 70px; }
  .change-password__wrap .custom-form {
    margin-top: 50px; }
  .change-password__wrap .accent-button {
    width: 100%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto; }

/************** Profile Responsive START **************/
@media screen and (min-width: 1400px) {
  .authentication__wrap .authentication__item .title {
    text-align: center; }
  .authentication__wrap .authentication__item .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .authentication__wrap .list__item .title {
    padding-right: 68px; } }

@media screen and (max-width: 1200px) {
  .authentication__wrap .qr__item .content,
  .authentication__wrap .code__item .content {
    padding-left: 50px; } }

@media screen and (max-width: 992px) {
  .personal-information .personal-notification {
    margin-top: 35px; }
    .personal-information .personal-notification .viewport {
      max-width: none; }
  .personal-information .top {
    flex-wrap: wrap; }
  .personal-information .info__wrap,
  .personal-information .referral-link__wrap {
    width: 100%; }
  .personal-information .referral-link__wrap {
    margin-top: 35px; }
  .profile .custom__tab {
    flex-wrap: wrap; }
    .profile .custom__tab li {
      width: 50%;
      margin-bottom: 10px; }
  .authentication__wrap .authentication__column {
    margin-bottom: 20px; }
  .authentication__wrap .authentication__item {
    clip-path: none;
    text-align: center; }
    .authentication__wrap .authentication__item .image {
      margin-left: auto;
      margin-right: auto; }
    .authentication__wrap .authentication__item .content {
      clip-path: none; }
    .authentication__wrap .authentication__item .border {
      display: none; }
  .authentication__wrap .list__item {
    border-right: 2px solid #caad6e; }
  .authentication__wrap .qr__item {
    border-right: 2px solid #ef984b; } }

/************** Profile Responsive END **************/
/************** Profile END **************/
/************** FAQ START **************/
.faq .faq__item {
  background-color: #31393f;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  transition: 0.5s ease;
  margin-bottom: 6px; }

.faq .faq__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%; }
  .faq .faq__header h5 {
    width: 100%; }
  .faq .faq__header .faq__button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    padding-right: 40px;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 1; }
  .faq .faq__header .mdi {
    color: #caad6e;
    font-size: 22px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%); }

.faq .faq__body {
  padding: 0 25px 25px 25px; }

.faq .faq__active {
  background-color: #1e252a; }
  .faq .faq__active .faq__header .faq__button {
    color: #caad6e; }
  .faq .faq__active .faq__body {
    color: #80868b; }

/************** FAQ END **************/
/************** LOGIN START **************/
.login-register__lang {
  width: auto;
  z-index: 2;
  width: 70px;
  position: absolute;
  right: 50px; }
  .login-register__lang .dropdown-toggle {
    background-color: #3c4349;
    color: #fff;
    font-size: 14px;
    border-color: #80868b;
    padding: 5px 10px; }
  .login-register__lang a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 20px; }
    .login-register__lang a:hover {
      background-color: #3c4349;
      color: #fff; }
  .login-register__lang .photo {
    margin-right: 5px; }
    .login-register__lang .photo img {
      width: 20px; }
  .login-register__lang .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0; }
    .login-register__lang .dropdown-menu a {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }

.s-login {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .s-login form {
    width: 100%; }
  .s-login .accent-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    text-align: center;
    margin-top: 40px; }
    .s-login .accent-title h2 {
      background: none;
      text-align: center;
      padding: 0;
      font-size: 22px; }
  .s-login .custom-popup {
    max-width: 380px;
    box-shadow: 0px 34px 34.1px 27.9px rgba(0, 0, 0, 0.11); }
  .s-login .input__item {
    margin-bottom: 35px; }
  .s-login .accent-button {
    width: 100%; }
  .s-login .forgot-password {
    display: inline-block;
    color: #80868b;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px; }

.liger-logo {
  text-align: center; }
  .liger-logo img {
    width: 200px; }

@media screen and (max-width: 400px) {
  .s-login .custom-popup {
    margin-left: 20px;
    margin-right: 20px; } }

/************** LOGIN END **************/
/************** REGISTER START **************/
.register {
  position: relative;
  z-index: 1; }
  .register .accent-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    text-align: center;
    margin-top: 40px; }
    .register .accent-title h2 {
      background: none;
      text-align: center;
      padding: 0;
      font-size: 22px; }
  .register .custom-popup {
    max-width: 580px;
    box-shadow: 0px 34px 34.1px 27.9px rgba(0, 0, 0, 0.11); }
  .register .input__item {
    margin-bottom: 35px; }
  .register .accent-button {
    width: 100%; }
  .register .forgot-password {
    display: inline-block;
    color: #80868b;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px; }
  .register .input__wrap .left,
  .register .input__wrap .right {
    width: 48%; }
  .register label {
    display: block; }
  .register .bootstrap-select {
    width: 100% !important;
    max-width: none; }
  .register .dropdown-toggle {
    background: none;
    border: 1px solid #80868b;
    color: #fff; }
  .register .dropdown-menu {
    padding: 0; }
  .register .dropdown-item {
    padding: 10px 15px;
    color: #fff; }
    .register .dropdown-item:hover {
      background-color: #3c4349; }

/************** REGISTER Responive START **************/
@media screen and (max-width: 400px) {
  .register .input__wrap {
    flex-wrap: wrap; }
    .register .input__wrap .left,
    .register .input__wrap .right {
      width: 100%; } }

/************** REGISTER Responive END **************/
/************** REGISTER END **************/
/************** All responsive START **************/
@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .news-inner__right-column {
    margin-top: 50px; } }

@media screen and (max-width: 480px) {
  .table-custom {
    border-collapse: unset;
    display: block;
    overflow-x: auto; }
  .news-custom .similar-news__item {
    flex-direction: column; }
    .news-custom .similar-news__item .left {
      height: 250px;
      width: 100%; }
      .news-custom .similar-news__item .left img {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: auto; }
    .news-custom .similar-news__item .right {
      width: 100%; } }

@media screen and (max-width: 400px) {
  .news-custom .similar-news__item .left img {
    height: 100%;
    width: auto; }
  #my-header .header-top__profile-item {
    font-size: 14px; } }

/************** All responsive END **************/
/************** Alert START **************/
.alert {
  position: fixed;
  right: 75px;
  bottom: 15px;
  z-index: 99;
  width: auto !important; }

@media screen and (max-width: 480px) {
  .alert {
    right: 15px; } }

@media screen and (max-width: 380px) {
  .alert {
    right: 5px;
    left: 5px;
    width: 100%; } }

/************** Alert END **************/
.gj-picker-bootstrap {
  color: #fff;
  background: #2d353b !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px; }
  .gj-picker-bootstrap input:focus {
    background: #2d353b !important; }

.input-group-append .btn {
  border: 1px solid #80868b !important; }

.table thead th {
  border-bottom: none;
}
.table td, .table th {
  border-top: none;
}
.jumbotron {
  background-color: #31393F;
}
