@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, body,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
}
:root{
    --gold: #d5a744;
    --dark: #121517;
    --bg-color: #1e2225;
    --nav-anim: cubic-bezier(.22,.91,.39,1);
    --sea: #39cde9;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
input, textarea {
outline: none;
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clr{
    clear: both;
}
textarea,
input[type=text],
input[type=mail],
input[type=tel],
input[type=button],
input[type=submit]{
    -webkit-appearance: none;
    border-radius: 0;
}
a{
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a:hover{
    color: var(--gold);
}
.site-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.btns-up-down{
    position: relative;
    width: 15px;
}
.btn-down{
    position: relative;
    font-size: 14px;
    display: block;
    color: #fff;
    padding-bottom: 40px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-down span{
    position: relative;
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
.btns-up-down .btn-down:after{
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 9px;
}
.btn-upp{
    display: block;
    position: absolute;
    bottom: -100%;
    left: 0%;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding-bottom: 40px;
    opacity: 0;
    /* visibility: hidden; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-upp .up-word{
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
.btn-upp .arrow{
    display: block;
    position: absolute;
    bottom: 0;
    left: 9px;
    right: auto;
    margin-left: -1px;
    width: 1px;
    height: 30px;
    background-color: #fff;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.btn-upp .arrow:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 3px;
    width: 1px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(35deg);
       -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
         -o-transform: rotate(35deg);
            transform: rotate(35deg);
}
.btn-upp .arrow:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -3px;
    width: 1px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
#fixed-navigation{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 88px;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    z-index: 100;
}
.logo {
    width: 28px;
    height: 30px;
}
.logo svg{
    width: 180px;
    height: 30px;
}
.logo svg .logo-text{
    fill: rgba(255, 255, 255, 1.0);
}
.site-content{
    height: 100%;
    width: 100%;
}
#fixed-navigation ul{
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
#fixed-navigation ul li{
    position: relative;
    white-space: nowrap;
    display: block;
    width: 88px;
    font-size: 14px;
    letter-spacing: .7px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
#fixed-navigation ul li>span{
    color: #fff;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    padding: 18px 0;
    opacity: 1;
    -webkit-transition: filter .4s .3s var(--nav-anim), opacity .4s .3s var(--nav-anim), transform .4s .3s var(--nav-anim);
    -o-transition: filter .4s .3s var(--nav-anim), opacity .4s .3s var(--nav-anim), transform .4s .3s var(--nav-anim);
    transition: filter .4s .3s var(--nav-anim), opacity .4s .3s var(--nav-anim), transform .4s .3s var(--nav-anim);
    -webkit-transform: rotate(-180deg) scale(1);
       -moz-transform: rotate(-180deg) scale(1);
        -ms-transform: rotate(-180deg) scale(1);
         -o-transform: rotate(-180deg) scale(1);
            transform: rotate(-180deg) scale(1);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
}
#fixed-navigation ul li:hover>span{
    opacity: 0;
    -webkit-transition: filter .3s 0s var(--nav-anim), opacity .3s 0s var(--nav-anim), transform .3s 0s var(--nav-anim);
    -o-transition: filter .3s 0s var(--nav-anim), opacity .3s 0s var(--nav-anim), transform .3s 0s var(--nav-anim);
    transition: filter .3s 0s var(--nav-anim), opacity .3s 0s var(--nav-anim), transform .3s 0s var(--nav-anim);
    -webkit-transform: rotate(-180deg) scale(1.2);
       -moz-transform: rotate(-180deg) scale(1.2);
        -ms-transform: rotate(-180deg) scale(1.2);
         -o-transform: rotate(-180deg) scale(1.2);
            transform: rotate(-180deg) scale(1.2);
            -webkit-filter: blur(5px);
            -o-filter: blur(5px);
            filter: blur(5px);
}
#fixed-navigation ul li a{
    position: absolute;
    top: 50%;
    left: 0px;
    padding: 3px 0;
    padding-left: 10px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    -webkit-transition: transform .3s 0s var(--nav-anim), color .3s ease-out;
    -o-transition: transform .3s 0s var(--nav-anim), color .3s ease-out;
    transition: transform .3s 0s var(--nav-anim), color .3s ease-out;
    -webkit-transform: translate(-100%, -50%);
       -moz-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
         -o-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
}
#fixed-navigation ul li a:hover{
    color: var(--gold);
}
#fixed-navigation ul li:hover a{
    -webkit-transition: transform .3s .3s var(--nav-anim), color .3s ease-out;
    -o-transition: transform .3s .3s var(--nav-anim), color .3s ease-out;
    transition: transform .3s .3s var(--nav-anim), color .3s ease-out;
    -webkit-transform: translate(0%, -50%);
       -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
         -o-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
}
#fixed-navigation ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: width .6s 0s var(--nav-anim);
    -o-transition: width .6s 0s var(--nav-anim);
    transition: width .6s 0s var(--nav-anim);
}
#fixed-navigation ul li:hover a:after{
    width: 40px;
    -webkit-transition: width .6s .6s var(--nav-anim);
    -o-transition: width .6s .6s var(--nav-anim);
    transition: width .6s .6s var(--nav-anim);
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #fff;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: var(--gold);
    border-radius: 5px;
}
.hero{
    position: relative;
    height: 100vh;
    max-height: 800px;
}
.fs-slide-item [data-slide]{
/*     opacity: 0;
    visibility: hidden; */
}
/* .fs-slide-item [data-slide].active{
    opacity: 1;
    visibility: visible;
} */
.fs-slide-item:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(30, 34, 37, 0.6), #1e2225);
}
.slide-bg-img{
    position: absolute;
    top: -100px;
    left: -100px;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
    
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-filter: blur(12px);
    -o-filter: blur(12px);
    filter: blur(12px);
    -webkit-transform: translate(-100px, 100px);
    -ms-transform: translate(-100px, 100px);
    -o-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px);
}
.active .slide-bg-img{
    animation: slideBgAmination 15s infinite alternate linear; 
}
@keyframes slideBgAmination {
    from{
        -webkit-transform: translate(-100px, 100px);
        -ms-transform: translate(-100px, 100px);
        -o-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px);
    }
    to {
        -webkit-transform: translate(100px, -100px);
        -ms-transform: translate(100px, -100px);
        -o-transform: translate(100px, -100px);
        transform: translate(100px, -100px);
    }
}
@-webkit-keyframes slideBgAmination {
    from{
        -webkit-transform: translate(-100px, 100px);
        -ms-transform: translate(-100px, 100px);
        -o-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px);
    }
    to {
        -webkit-transform: translate(100px, -100px);
        -ms-transform: translate(100px, -100px);
        -o-transform: translate(100px, -100px);
        transform: translate(100px, -100px);
    }
}
.full-screen-slider{
    position: relative;
}
.fs-slide-item{
    position: relative;
    height: 100vh;
    max-height: 800px;
    overflow: hidden;
}
.slide-wrapper{
    position: relative;
    width: 100%;
    max-width: 1252px;
    margin: 0 auto;
    padding-left: 88px;
    z-index: 1;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slide-image-container{
    height: 100%;
    width: 50%;
    position: relative;
    padding-right: 57px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fs-triger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gold);
    z-index: 2;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
}
.fs-img-slides{
    position: relative;
    width: calc(100% + 85px);
    height: 100%;
    margin-left: -85px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, .4);
    overflow: hidden;
}
.slide-image{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.fs-image{
    position: absolute;
    top: -30px;
    left: -30px;
    bottom: -30px;
    right: -30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.slide_text {
    position: relative;
    z-index: 10;
    width: 50%;
    height: 100%;
}
.slide_title{
    font-size: 54px;
    line-height: 1.22;
    letter-spacing: 1.08px;
    font-weight: 600;
    color: #fff;
}
.slide_title span{
    color: var(--gold);
}
.fs-text-wrapper{
    position: absolute;
    top: 216px;
    left: 0;
    width: calc(100% + 120px);
    margin-left: 5px;
}
.slide-subtitle{
    font-size: 14px;
    color: #fff;
    line-height: 2;
    letter-spacing: .7px;
    margin-top: 27px;
}
.slide-btn{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: var(--gold);
    padding-bottom: 3px;
    margin-top: 80px;
}
.slide-btn:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--gold);
    -webkit-transition: .3s, width .3s .3s ease, height .3s 0s ease, left .3s .3s ease;
    -o-transition: .3s, width .3s .3s ease, height .3s 0s ease, left .3s .3s ease;
    transition: .3s, width .3s .3s ease, height .3s 0s ease, left .3s .3s ease;
}
.slide-btn:hover:after{
    left: -7px;
    width: 2px;
    height: calc(100% + 3px);
    -webkit-transition: .3s, width .3s 0s ease, height .3s .3s ease , left .3s 0s ease;
    -o-transition: .3s, width .3s 0s ease, height .3s .3s ease , left .3s 0s ease;
    transition: .3s, width .3s 0s ease, height .3s .3s ease , left .3s 0s ease;
}
.social-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: calc(5% - 7px);
    z-index: 100;
}
.social-links ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.social-links a{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: .7px;
    padding: 20px 0;
}
.social-links a:hover{
    color: var(--gold);
}
.navigation-container {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 18px;
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
}
.navigation-arrows{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: calc(47% - 7px);
    margin-right: 110px;
}
.navigation-arrows a,
.navigation-arrows button{
    position: relative;
    color: inherit;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
}
.navigation-arrows a i,
.navigation-arrows button i{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.navigation-arrows a svg,
.navigation-arrows button svg {
    position: relative;
    top: -2px;
    left: -2px;
    display: block;
    stroke: #fff;
    fill: transparent;
    width: 42px;
    height: 42px;
}
/* .navigation-arrows a svg .circle,
.navigation-arrows button svg .circle{
    stroke-dashoffset: 309;
    stroke-dasharray: 307;
    -webkit-transition: all 0s linear;
       -moz-transition: all 0s linear;
        -ms-transition: all 0s linear;
         -o-transition: all 0s linear;
            transition: all 0s linear;
} */
.navigation-arrows button{
    display: none;
}
/* .next-btn .circle.active{
    stroke-dashoffset: 190;
    -webkit-transition: all 14s linear;
       -moz-transition: all 14s linear;
        -ms-transition: all 14s linear;
         -o-transition: all 14s linear;
            transition: all 14s linear;
} */
.navigation-dots{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
}
.navigation-dots .dot{
    opacity: 1 !important;
    visibility: visible !important;
}
.navigation-dots .dot a{
    position: relative;
    width: 58px;
    height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1.4px;
    opacity: .2;
    -webkit-transition: font-size .3s var(--nav-anim);
    -o-transition: font-size .3s var(--nav-anim);
    transition: font-size .3s var(--nav-anim);
}
.navigation-dots .dot.active{
    pointer-events: none !important;
}
.navigation-dots .dot.active a{
    font-size: 24px;
    opacity: 1;
    letter-spacing: 2.4px;
    font-weight: 300;
    pointer-events: none;
}
.navigation-dots .dot a span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

section{
    position: relative;
}
#about{
    background-color: #1e2225;
    position: relative;
    padding: 75px 0;
    z-index: 1;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 88px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* .masc-container{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
} */
.masc-container{
    display: block;
    width: 321px;
    height: 352px;
    margin-left: 97px;
    margin-top: -40px;
/*     background-image: url('../images/4.jpg');
    -webkit-clip-path: url('#myClip');
    -o-clip-path: url('#myClip');
    clip-path: url('#myClip'); */
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.masc-container image{
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.part-image{
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.half-box{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}
.half-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
}
.box-title{
    position: relative;
    font-size: 36px;
    color: var(--gold);
    letter-spacing: .72px;
    line-height: 1.5
}
.box-title h2{
    font-weight: 600;
}
 #about .box-title {
    margin-top: 11px;
    margin-bottom: 50px;
}
.box-title:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -24px;
    width: 4px;
    height: 80%;
    background-color: var(--gold);
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.box-title span{
    color: #fff;
}
.box-desc{
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .7px;
}
.box-desc p{
    margin-bottom: 21px;
}
.car-polygon{
    display: block;
    width: 95px;
    height: 110px;
    margin-left: 33px;
/*     background-image: url('../images/5.jpg');
    -webkit-clip-path: url('#carClip');
    -o-clip-path: url('#carClip');
    clip-path: url('#carClip');  */   
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* .car-masc,
.man-masc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
} */
.man-polygon{
    display: block;
    width: 216px;
    height: 250px;
    margin-top: -56px;
    margin-left: 15px;
/*     background-image: url('../images/6.jpg');
    -webkit-clip-path: url('#manClip');
    -o-clip-path: url('#manClip');
    clip-path: url('#manClip'); */
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* #manClip{
    -webkit-transform: scale(1.38);
       -moz-transform: scale(1.38);
        -ms-transform: scale(1.38);
         -o-transform: scale(1.38);
            transform: scale(1.38);
} */
.poly-container{
    position: relative;
}
.big-octa {
    position: absolute;
    bottom: -30px;
    right: 104px;
    width: 130px;
    height: 150px;
    margin-right: 0;
}
.big-octa path{
    fill: var(--gold);
    -webkit-transform: scale(.82);
       -moz-transform: scale(.82);
        -ms-transform: scale(.82);
         -o-transform: scale(.82);
            transform: scale(.82);
}
.desc-container {
    padding-right: 67px;
}
.small-white-octa {
    position: absolute;
    top: 70px;
    left: 38px;
    width: 29px;
    height: 34px;
    margin-right: 0;
}
.small-white-octa path{
    fill: #fff;
    -webkit-transform: scale(.18);
       -moz-transform: scale(.18);
        -ms-transform: scale(.18);
         -o-transform: scale(.18);
            transform: scale(.18);
}
.big-white-octa {
    position: absolute;
    bottom: -80px;
    left: 223px;
    width: 53px;
    height: 61px;
    margin-right: 0;
    z-index: 1;
}
.clipAnim{
    -webkit-transform-origin: 20% 20%;
    -moz-transform-origin: 20% 20%;
    -ms-transform-origin: 20% 20%;
    -o-transform-origin: 20% 20%;
    transform-origin: 20% 20%;
}
.clipCenter{
    -webkit-transform-origin: 20% 20%;
    -moz-transform-origin: 20% 20%;
    -ms-transform-origin: 20% 20%;
    -o-transform-origin: 20% 20%;
    transform-origin: 20% 20%;
}
.big-white-octa path{
    fill: #fff;
    -webkit-transform: scale(.33);
       -moz-transform: scale(.33);
        -ms-transform: scale(.33);
         -o-transform: scale(.33);
            transform: scale(.33);
}
#offer{
    padding: 102px 0;
    background-color: var(--bg-color)
}
 #offer .box-title {
    margin-top: 10px;
    margin-bottom: 58px;
}
.left-desc-container{
    padding-left: 27px;
    padding-right: 25px;
}
.flipInner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    background-color: #171a1c;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0px 20px 150px rgba(255, 175, 35, 0.8);
    -webkit-transform: translate(-15px, -15px);
       -moz-transform: translate(-15px, -15px);
        -ms-transform: translate(-15px, -15px);
         -o-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
}
.gif-coin{
    display: block;
    max-width: 100%;
}
.circleCoin{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    transform-style: preserve-3d;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}
.coin{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipInner .circleCoin {
    animation: coinRotate 5s infinite linear;
}
.coin.back{
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
    -ms-transform: translate(-50%, -50%) rotateY(180deg);
    -o-transform: translate(-50%, -50%) rotateY(180deg);
    transform: translate(-50%, -50%) rotateY(180deg);
}

@keyframes coinRotate {
    from{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes coinRotate {
    from{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
.text-center{
    text-align: center;
}
.flipContainer{
    position: relative;
    display: inline-block;
    z-index: 1;
}
.iconContainer{
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    color: var(--gold);
    border-radius: 50%;
    font-size: 47px;
    background-color: #171a1c;
}
.dollar{
    top: -218px;
    left: -4px;
    width: 125px;
    height: 125px;
}
.gold{
    top: -61px;
    left: 165px;
    width: 100px;
    height: 100px;
    z-index: -1;
}
.rub{
    top: 43px;
    left: 254px;
    width: 101px;
    height: 101px;
    z-index: -1;
    font-size: 35px;
}
.icon-gold{
    display: block;
    width: 28px;
    height: 28px;
    border: 2px solid var(--gold);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.percent {
    bottom: -83px;
    left: 149px;
    width: 69px;
    height: 69px;
    z-index: -1;
    font-size: 21px;
}
.bitcoin {
    bottom: -218px;
    left: 75px;
    width: 124px;
    height: 124px;
    z-index: -1;
    font-size: 44px;
}
.lire {
    bottom: -57px;
    left: -55px;
    width: 68px;
    height: 68px;
    z-index: -1;
    font-size: 27px;
}
.euro {
    bottom: -24px;
    left: -165px;
    width: 101px;
    height: 101px;
    z-index: -1;
    font-size: 33px;
}
.ethereum {
    top: -103px;
    left: -73px;
    width: 79px;
    height: 79px;
    z-index: -1;
    font-size: 32px;
}
.word-bg{
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    opacity: 0.12;
    text-transform: uppercase;
    letter-spacing: 40px;
    white-space: nowrap;
}
#offer .word-bg{
    position: absolute;
    top: 36px;
    left: 0;
    font-size: 200px;
    font-weight: 700;
    opacity: 0.12;
    text-transform: uppercase;
    letter-spacing: 40px;
}
#about .word-bg{
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 200px;
    font-weight: 700;
    opacity: 0.12;
    text-transform: uppercase;
    letter-spacing: 40px;
}
#particles-js{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 110%;
    opacity: .5;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url('../images/12.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#safe{
    padding: 113px 0 195px;
    background-color: var(--bg-color);
}
#safe .word-bg {
    position: absolute;
    top: 69px;
    left: 33%;
    font-size: 200px;
    font-weight: 700;
    opacity: 0.12;
    text-transform: uppercase;
    letter-spacing: 40px;
}
#safe .box-title{
    margin-left: 40%;
}
.paralax_wrapp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -2;
}
.paralax_bg{
    position: absolute;
    top: -50%;
    left: 0;
    height: 120%;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.action-box{
    position: relative;
    padding: 135px 0 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
    z-index: 1;
}
.action-symbol{
    display: block;
    width: 347px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .1;
    -webkit-transform: translate(121px, -106px);
       -moz-transform: translate(121px, -106px);
        -ms-transform: translate(121px, -106px);
         -o-transform: translate(121px, -106px);
            transform: translate(121px, -106px);
}
.action-box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    opacity: .8;
}
.action-box .wrapper{
    z-index: 2;
}
.action-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .72px;
    margin-bottom: 39px;
}
.action-subtitle{
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: .48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.btn-gold{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: .7px;
    background-color: var(--gold);
    text-decoration: none;
    font-weight: 300;
    height: 64px;
    width: 100%;
    max-width: 257px;
    color: #000;
}
#facts{
    padding: 100px 0 30px;
    background-color: var(--bg-color);
}
#facts .box-title.vertical{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
#facts .box-title{
    margin-right: 53px;
    margin-top: 77px;
}
.box-title.vertical:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -24px;
    width: 80%;
    height: 4px;
    background-color: var(--gold);
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.wrapper{
    position: relative;
}
#facts .word-bg {
    left: 20%;
    top: 90px;
}
#facts .wrapper{
    padding-left: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.primes-img{
    width: 39%;
}
.primes-img img{
    display: block;
    max-width: 100%;
    -webkit-transform: translateX(21px);
       -moz-transform: translateX(21px);
        -ms-transform: translateX(21px);
         -o-transform: translateX(21px);
            transform: translateX(21px);
}
.primes-container{
    width: 51%;
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    padding-top: 64px;
}
.prime-box{
    width: 33.3333%;
    color: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.prime-box:nth-child(4),
.prime-box:nth-child(5){
    width: 50%;
}
.p-number{
    font-size: 36px;
    height: 52px;
    font-weight: 600;
    letter-spacing: 3.6px;
    margin-bottom: 16px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    line-height: .8;
}
.p-desc{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .7px;
}
/* .sota-safe{
    width: 0;
    height: 0;
} */
.sota-container{
    position: relative;
    padding-bottom: 100px;
    -webkit-transform: rotate(30deg) translate(-235px, 283px);
       -moz-transform: rotate(30deg) translate(-235px, 283px);
        -ms-transform: rotate(30deg) translate(-235px, 283px);
         -o-transform: rotate(30deg) translate(-235px, 283px);
            transform: rotate(30deg) translate(-235px, 283px);
}
.sota-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.sota-item{
    height: 233px;
    width: 272px;
    /* background-attachment: fixed; */
    -webkit-clip-path: url('#sotaPath');
    -o-clip-path: url('#sotaPath');
    clip-path: url('#sotaPath');
} 
.sota-item .si-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/8.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
/*     -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); */
/*     -webkit-clip-path: url('#sotaPath');
    -o-clip-path: url('#sotaPath');
    clip-path: url('#sotaPath'); */
}
.sota-wrapper{
    position: relative;
    margin-right: -58px;
}
.sota-wrapper:nth-child(even) .sota-item{
    -webkit-transform: translateY(125px);
       -moz-transform: translateY(125px);
        -ms-transform: translateY(125px);
         -o-transform: translateY(125px);
            transform: translateY(125px);
}
.sota-wrapper:nth-child(5) .sota-item{
    background-color: #f3f5f5;
    background-image: none;
}
.sota-wrapper:nth-child(5) .sota-item:nth-child(2){
    position: absolute;
    bottom: calc(100% + 12px);
    margin-top: 0;
    background-color: transparent;
    /* background-image: url('../images/8.jpg'); */
}
.sota-wrapper .sota-item:nth-child(2){
    margin-top: 12px;
}
.sota-steps-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 75px;
    -webkit-transform: translate(137px, -154px);
       -moz-transform: translate(137px, -154px);
        -ms-transform: translate(137px, -154px);
         -o-transform: translate(137px, -154px);
            transform: translate(137px, -154px);
}
.sota-steps-container:last-child{
    margin-bottom: 0;
}
.sota-steps-container .sota-wrapper {
    position: relative;
    margin-right: 0px;
    margin: 0 43px;
    background-color: #fff;
    -webkit-clip-path: url('#sotaPath1');
    -o-clip-path: url('#sotaPath1');
    clip-path: url('#sotaPath1');
}
.sota-safe{
    width: 1px;
    height: 1px;
}
.sota-safe-step{
    position: relative;
    overflow: hidden;
    width: 340px;
    height: 295px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
    -o-transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
    transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
}
.sota-safe-step:hover{
    box-shadow: 0 0 0 250px var(--gold) inset, 0 0 0 1000px rgba(0,0,0,0.5) inset;
}
.sota-st-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translate(-50%, -50%) rotate(-30deg);
       -moz-transform: translate(-50%, -50%) rotate(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
         -o-transform: translate(-50%, -50%) rotate(-30deg);
            transform: translate(-50%, -50%) rotate(-30deg);
    z-index: 2;
/*     -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; */
}
.sota-safe-step:hover .sota-st-container{
    color: #fff;
}
.sota-st-number {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 4.8px;
    font-weight: 600;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    z-index: 3;
}
.sota-st-text{
    font-size: 14px;
    letter-spacing: .7px;
    line-height: 1.5;
    z-index: 3;
}
#for-partners{
    background-color: var(--bg-color);
    padding: 100px 0;
    color: #fff;
}
#for-partners .word-bg {
    font-size: 146px;
    line-height: 0.8;
    letter-spacing: 29.2px;
    left: 50px;
    top: -25px;
    color: #000;
}
#for-partners .word-bg span{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#for-partners .word-bg .word2{
    padding-left: 290px;
}
#for-partners .subtitle{
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: .7px;
    margin-top: 8px;
}
.fp-primes{
    margin-top: 60px;
}
.fp-primes li{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .7px;
    margin-bottom: 33px;
}
.fp-icon{
    font-size: 40px;
    color: var(--gold);
    margin-right: 35px;
}
.fp-icon [class^="icon-"] {
    display: block;
    margin-left: -8px;
    margin-top: -4px;
}
.fp-desc{
    flex-grow: 1;
}
.forPartnersSota{
    width: 0;
    height: 0;
}
.fp-sota-wrap{
    position: relative;
    width: 425px;
    height: 492px;
    margin: 0 auto;
}
.fp-sota-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-clip-path: url('#partnersPath');
    -o-clip-path: url('#partnersPath');
    clip-path: url('#partnersPath');
    -webkit-transform: translate(-31px, -77px);
       -moz-transform: translate(-31px, -77px);
        -ms-transform: translate(-31px, -77px);
         -o-transform: translate(-31px, -77px);
            transform: translate(-31px, -77px);
}
.fp-sota-wrap .fb-sota-bottom{
    position: absolute;
    bottom: -20px;
    right: 67px;
    width: 126px;
    height: 146px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-clip-path: url('#partnersPath');
    -o-clip-path: url('#partnersPath');
    clip-path: url('#partnersPath');
}
.fp-logo-icon {
    position: absolute;
    top: -86px;
    left: 2px;
    width: 55px;
    height: 60px;
}
.fp-s1 {
    position: absolute;
    top: -128px;
    left: 51px;
    display: block;
    width: 30px;
    height: 34px;
}
.fp-s1 path{
    fill: var(--gold);
}
.fp-s2 {
    position: absolute;
    top: -95px;
    right: 79px;
    display: block;
    width: 33px;
    height: 38px;
}
.fp-s2 path{
    fill: #fff;
}
.fp-s3 {
    position: absolute;
    bottom: 90px;
    left: 11px;
    display: block;
    width: 84px;
    height: 97px;
}
.fp-s3 path{
    fill: var(--gold);
}
.fp-s4 {
    position: absolute;
    bottom: 64px;
    left: 159px;
    display: block;
    width: 35px;
    height: 42px;
}
.fp-s4 path{
    fill: #fff;
}
.fp-s5 {
    position: absolute;
    bottom: -60px;
    right: 152px;
    display: block;
    width: 21px;
    height: 25px;
}
.fp-s5 path{
    fill: #fff;
}

footer{
    background-color: var(--dark);
    padding: 30px 0;
}
footer a{
    display: block;
    font-size: 14px;
    letter-spacing: .28px;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
}
footer .wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: .28px;
    line-height: 1.5;
    color: #fff;
}
.copy{
    color: #787a7c;
}
.f-social{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-grow: 1;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.policy{
    text-align: right;
}
.f-social a{
    margin: 0 15px; 
}
#roaad-map {
    padding: 95px 0px 0;
    background-color: var(--bg-color);
    overflow: hidden;
}
.road-container{
    position: absolute;
    top: 134px;
    left: 50%;
    width: 1440px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.road-line{
    display: block;
    width: 100%;
    height: auto;
}
#roaad-map .wrapper{
    position: relative;
    z-index: 1;
}
#roaad-map .box-title{
    display: inline-block;
    text-align: center;
    margin-bottom: 88px;
}
#roaad-map .box-title:before{
    width: 70px;
    height: 4px;
    left: 50%;
    top: -21px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
#roaad-map .word-bg{
    top: 22px;
    left: 22px;
    font-size: 166px;
    letter-spacing: 33.2px;
    white-space: nowrap;
}
.road-steps{
    min-width: 1252px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: space-around;
    padding-left: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.road-steps .r-step{
    position: relative;
    width: 33.3333%;
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .7px;
    padding-right: 100px;
    padding-bottom: 25px;
    margin-bottom: 152px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.road-steps .r-step .before{
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.road-steps .r-step .before.gold-color{
    background-color: var(--gold);
}
.r-desc span{
    color: var(--gold);
}
.r-date{
    color: #787a7c;
    margin-top: 10px;
}
.road-steps .r-step:nth-child(5),
.road-steps .r-step:nth-child(6){
    padding-right: 0;
    text-align: right;
    -webkit-transform: translateX(calc(-100% + 20px));
       -moz-transform: translateX(calc(-100% + 20px));
        -ms-transform: translateX(calc(-100% + 20px));
         -o-transform: translateX(calc(-100% + 20px));
            transform: translateX(calc(-100% + 20px));
}
.road-steps .r-step:nth-child(5) .before,
.road-steps .r-step:nth-child(6) .before{
    right: 0px;
    left: auto;
}
.road-steps .r-step:nth-child(6) .before{
    width: 30px;
    height: 30px;
    bottom: -18px;
    right: -5px;
}
.road-steps .r-step:nth-child(6) .after{
    content: '';
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    right: 5px;
    background-color: var(--bg-color);
    border-radius: 50%;
}
/* .road-gold {
    stroke-dashoffset: 1840px;
    stroke-dasharray: 1840;
} */
body *::selection{
    background: var(--gold);
}

#mobile-navigation{
    display: none;
}
.preloader{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 9999;
}
.loader-octa {
/*     stroke-dasharray: 616;
    stroke-dashoffset: 616; */
}
.loader svg path{
    stroke-width: 3px;
    fill: transparent;
    stroke: var(--gold);
    /* stroke-dasharray: 616; */
    /* stroke-dashoffset: 616; */
}
.loader svg path.white{
    stroke: #fff;
}
.loader svg{
    display: block;
    width: 150px;
    height: auto;
}

.btn-gold{
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
    -o-transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
    transition: .8s, color .3s .3s cubic-bezier(0, 0.54, 0.18, 0.59);
}
.btn-gold:hover{
    color: #fff;
    box-shadow: 0 0 0 10px var(--gold) inset, 0 0 0 150px rgba(0,0,0,0.5) inset;
}



.owl-stage{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    --slider-anim: cubic-bezier(.67,0,.45,.69);
    --image-timing: .8s;
    --text-timing: .6s;
}
.slide-text.visible-out{
    opacity: 0;
    -webkit-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -moz-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -ms-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -o-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
}
.slide-text.visible-in{
    opacity: 1;
    -webkit-transition: opacity var(--text-timing) .5s var(--slider-anim), transform var(--text-timing) .5s var(--slider-anim);
    -moz-transition: opacity var(--text-timing) .5s var(--slider-anim), transform var(--text-timing) .5s var(--slider-anim);
    -ms-transition: opacity var(--text-timing) .5s var(--slider-anim), transform var(--text-timing) .5s var(--slider-anim);
    -o-transition: opacity var(--text-timing) .5s var(--slider-anim), transform var(--text-timing) .5s var(--slider-anim);
    transition: opacity var(--text-timing) .5s var(--slider-anim), transform var(--text-timing) .5s var(--slider-anim);
}
.slide-text{
    opacity: 0;
    -webkit-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -moz-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -ms-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    -o-transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
    transition: opacity var(--text-timing) 0s var(--slider-anim), transform var(--text-timing) 0s var(--slider-anim);
}
.fs-img-slides{
    opacity: 0;
    -webkit-filter: blur(40px);
    -o-filter: blur(40px);
    filter: blur(40px);
    -webkit-transition: all var(--image-timing) var(--slider-anim);
    -moz-transition: all var(--image-timing) var(--slider-anim);
    -ms-transition: all var(--image-timing) var(--slider-anim);
    -o-transition: all var(--image-timing) var(--slider-anim);
    transition: all var(--image-timing) var(--slider-anim);
}
.fs-img-slides.visible{
    opacity: 1;
    -webkit-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: all var(--image-timing) var(--slider-anim);
    -moz-transition: all var(--image-timing) var(--slider-anim);
    -ms-transition: all var(--image-timing) var(--slider-anim);
    -o-transition: all var(--image-timing) var(--slider-anim);
    transition: all var(--image-timing) var(--slider-anim);
}
.lang{
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 101;
}
.lang ol li a{
    width: 42px;
    height: 42px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.lang ol li a:hover{
    color: #fff;
    background-color: var(--gold)
}