@media(min-height: 800px){
	.paralax_wrapp{
		top: -40%;
	}
}
@media(max-width: 1400px){
	.fs-text-wrapper{
		top: 150px;
	}
	.social-links{
		padding-right: 3%;
	}
	#facts .wrapper{
		padding-left: 80px;
	}
	#fixed-navigation{
		width: 65px;
	}
	#fixed-navigation ul li{
		width: 65px;
	}
	#fixed-navigation ul li{
		font-size: 12px;
	}
	#fixed-navigation ul li a{
		font-size: 18px;
		letter-spacing: .9px;
	}
	.btn-down,
	.btn-upp{
		font-size: 12px;
	}
}
@media(max-width: 1300px){
	.lang{
		right: 10px;
	}
	.lang ol li a{
		width: 32px;
		height: 32px;
		font-size: 12px;
	}
	.social-links{
		padding-right: 2%;
	}
}
@media(max-width: 1200px){
	.slide_title{
		font-size: 42px;
		letter-spacing: 0.84px;
	}
	.box-title{
		font-size: 24px;
	}
	.sota-item {
	    height: 203px;
	    width: 232px;
	}
	.sota-wrapper {
	    position: relative;
	    margin-right: -50px;
	}
	.sota-steps-container .sota-wrapper {
	    position: relative;
	    margin-right: 0px;
	    margin: 0 32px;
	}
	.sota-wrapper:nth-child(even) .sota-item {
	    -webkit-transform: translateY(111px);
	    -moz-transform: translateY(111px);
	    -ms-transform: translateY(111px);
	    -o-transform: translateY(111px);
	    transform: translateY(111px);
	}
	.sota-steps-container {
	    margin-bottom: 58px;
	    -webkit-transform: translate(116px, -138px);
	    -moz-transform: translate(116px, -138px);
	    -ms-transform: translate(116px, -138px);
	    -o-transform: translate(116px, -138px);
	    transform: translate(116px, -138px);
	}
	.sota-safe-step {
	    width: 300px;
	    height: 266px;
	}
	.sota-container {
	    -webkit-transform: rotate(30deg) translate(-185px, 263px);
	    -moz-transform: rotate(30deg) translate(-185px, 263px);
	    -ms-transform: rotate(30deg) translate(-185px, 263px);
	    -o-transform: rotate(30deg) translate(-185px, 263px);
	    transform: rotate(30deg) translate(-185px, 263px);
	}
	.fp-desc br,
	.sota-st-text br{
		display: none;
	}
	#facts .wrapper{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.primes-container{
		width: 60%;
	}
	.primes-img{
		display: none;
	}
	#facts {
	    padding: 100px 0;
	}
	.fp-sota-wrap {
	    width: 395px;
	    height: 462px;
	}
	.wrapper{
		padding-right: 10px;
	}
	.road-steps {
	    min-width: 980px;
	    padding-left: 100px;
	}
	.road-steps .r-step {
	    padding-right: 20px;
	    margin-bottom: 100px;
	}
	.road-container {
	    top: 163px;
	    width: 1140px;
	}
	.big-octa {
	    bottom: -20px;
	    right: 0px;
	}
	.desc-container {
	    padding-right: 10px;
	    padding-left: 27px;
	}
	#roaad-map .word-bg {
	    top: 42px;
	    font-size: 125px;
	    letter-spacing: 25px;
	}
	#for-partners .word-bg {
	    font-size: 125px;
	    letter-spacing: 25px;
	}
	#for-partners .word-bg .word2 {
	    padding-left: 90px;
	}
	.action-title br,
	.action-subtitle br{
		display: none;
	}
}
@media (max-width: 1023px){
	.fs-text-wrapper{
		top: 90px;
	}
	.fs-img-slides{
		display: none;
	}
	.slide_title {
	    font-size: 36px;
	    letter-spacing: 0.72px;
	}
	.hero,
	.fs-slide-item {
	    max-height: 600px;
	}
	.navigation-arrows{
		margin-right: 30px;
    	padding-left: calc(44% - 7px);
	}
	.about-mask{
		margin-left: 0;
	}
	.big-octa,
	.man-polygon,
	.big-white-octa,
	.small-white-octa,
	.car-polygon{
		-webkit-transform: scale(.6);
		   -moz-transform: scale(.6);
		    -ms-transform: scale(.6);
		     -o-transform: scale(.6);
		        transform: scale(.6);
	}
	.man-polygon{
		margin-left: -30px;
	}
	.big-octa {
	    bottom: -60px;
	    right: -40px;
	}
	.big-white-octa{
	    bottom: -70px;
	    left: 105px;
	}
	.small-white-octa {
	    top: 30px;
	    left: 0;
	}
	#fixed-navigation{
		display: none;
	}
	#mobile-navigation{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		z-index: 500;
		padding: 15px;
		background-color: var(--bg-color);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#hamburger{
		position: relative;
		width: 25px;
		height: 20px;
	}
	#hamburger span{
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--gold);
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		-webkit-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
	}
	#hamburger.active span{
		background-color: transparent;
		-webkit-transform: rotate(180deg) translateY(-50%);
		   -moz-transform: rotate(180deg) translateY(-50%);
		    -ms-transform: rotate(180deg) translateY(-50%);
		     -o-transform: rotate(180deg) translateY(-50%);
		        transform: rotate(180deg) translateY(-50%);
	}
	#hamburger span:before,
	#hamburger span:after{
		content: '';
		position: absolute;
		background-color: var(--gold);
		height: 1px;
		right: 0;
		left: auto;
		-webkit-transition: all .3s ease-out;
		   -moz-transition: all .3s ease-out;
		    -ms-transition: all .3s ease-out;
		     -o-transition: all .3s ease-out;
		        transition: all .3s ease-out;
	}
	#hamburger span:before{
		width: 80%;
		top: -5px;
	}
	#hamburger.active span:before{
		width: 100%;
		top: 0px;
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
	#hamburger span:after{
		top: 5px;
		width: 40%;
	}
	#hamburger.active span:after{
		top: 0px;
		width: 100%;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.mobile-nav-list{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: var(--bg-color);
		z-index: -1;
		visibility: hidden;
		opacity: 0;
	}
	.mobile-nav-list .word-bg{
		top: 30%;
		left: 0;
	}
	.site-container{
		padding-top: 60px;
	}
	.mobile-nav-list ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 60px);
	}
	.mobile-nav-list li{
		width: 100%;
		max-width: 320px;
		margin: 10px auto;
		text-align: center;
	}
	.mobile-nav-list li a{
		color: #fff;
		text-decoration: none;
		font-size: 2em;
		line-height: 1.5;
		letter-spacing: .7px;
	}
	.slide-wrapper{
		padding-left: 20px;
	}
	#facts .wrapper,
	.wrapper{
		padding-left: 20px;
	}
	.half-box{
		width: auto;
	}
	#safe .word-bg,
	#offer .word-bg,
	#about .word-bg {
	    top: 0;
	    font-size: 140px;
	    letter-spacing: 28px;
	}
	#offer .half-box:nth-child(2){
		padding: 250px 10px;
	}
	.sota-item {
	    height: 153px;
	    width: 182px;
	}
	.sota-wrapper {
	    position: relative;
	    margin-right: -37px;
	}
	.sota-steps-container .sota-wrapper {
	    position: relative;
	    margin-right: 0px;
	    margin: 0 31px;
	}
	.sota-wrapper:nth-child(even) .sota-item {
	    -webkit-transform: translateY(82px);
	    -moz-transform: translateY(82px);
	    -ms-transform: translateY(82px);
	    -o-transform: translateY(82px);
	    transform: translateY(82px);
	}
	.sota-steps-container {
		/* opacity: 0; */
	    margin-bottom: 52px;
	    -webkit-transform: translate(91px, -106px);
	    -moz-transform: translate(91px, -106px);
	    -ms-transform: translate(91px, -106px);
	    -o-transform: translate(91px, -106px);
	    transform: translate(91px, -106px);
	}
	.sota-safe-step {
	    width: 230px;
	    height: 196px;
	}
	.sota-container {
	    -webkit-transform: rotate(30deg) translate(-125px, 233px);
	    -moz-transform: rotate(30deg) translate(-125px, 233px);
	    -ms-transform: rotate(30deg) translate(-125px, 233px);
	    -o-transform: rotate(30deg) translate(-125px, 233px);
	    transform: rotate(30deg) translate(-125px, 233px);
	}
	.sota-item .si-bg{
		/* top: -340px; */
	}
	.sota-st-text{
		font-size: 12px;
	}
	.sota-st-text br{
		display: none;
	}
	#for-partners .half-box:nth-child(1){
		padding: 100px 0;
	}
	#for-partners .word-bg {
		left: 30px;
	    font-size: 100px;
	    letter-spacing: 10px;
	}
	.road-container {
	    display: none;
	}
	.road-steps{
		-ms-align-items: flex-start;
		align-items: flex-start;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.road-steps .r-step{
		padding-bottom: 0;
		width: 100%;
	}
	.road-steps .r-step:nth-child(1){
		order: 1
	}
	.road-steps .r-step:nth-child(2){
		order: 2
	}
	.road-steps .r-step:nth-child(3){
		order: 3
	}
	.road-steps .r-step:nth-child(5){
		order: 6
	}
	.road-steps .r-step:nth-child(6){
		order: 5
	}
	.road-steps .r-step:nth-child(8){
		order: 8
	}
	.road-steps .r-step:nth-child(9){
		order: 9
	}
	.road-steps .r-step:nth-child(4),
	.road-steps .r-step:nth-child(7){
		display: none;
		margin: 0;
		padding: 0;
	}
	.road-steps .r-step:nth-child(5),
	.road-steps .r-step:nth-child(6){
		text-align: left;
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
	}
	.road-steps .r-step:nth-child(5) .before, .road-steps .r-step:nth-child(6) .before {
	    right: auto;
		left: -70px;
		top: 20px;
	}
	.road-steps .r-step:nth-child(6) .before{
		top: 15px;
		left: -75px;
	}
	.road-steps .r-step:nth-child(6) .after {
	    content: '';
	    position: absolute;
	    top: 25px;
	    width: 10px;
	    height: 10px;
	    left: -65px;
	    right: auto;
	    background-color: var(--bg-color);
	    border-radius: 50%;
	}
	.road-steps .r-step .before{
		left: -70px;
		top: 20px;
	}
	.road-steps{
		position: relative;
		min-width: auto;
		max-width: 400px;
		margin: 0 auto;
	}
	.road-steps:before{
		content: '';
		position: absolute;
		left: 38px;
		top: 0px;
		width: 4px;
		height: 100%;
		background-color: #fff;
	}
	.road-steps:after{
		content: '';
		position: absolute;
		left: 38px;
		top: 0px;
		width: 4px;
		height: 45%;
		background-color: var(--gold);
		box-shadow: 0px 0px 10px rgba(213, 167, 68, 0.80);
	}
	.word-bg,
	#roaad-map .word-bg{
		top: 0;
		font-size: 100px;
		letter-spacing: 10px;
	}
	#facts .word-bg{
		left: 0;
	}
	.slide-bg-img {
	    -webkit-filter: blur(0px);
	    -o-filter: blur(0px);
	    filter: blur(0px);
	}
}
@media(max-width: 767px){
	.lang{
		top: 15px;
	}
	.mobile-nav-list li{
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mobile-nav-list li a{
		font-size: 18px;
	}
	#about .word-bg{
		top: 60px;
	}
	.sota-st-text{
		font-size: 14px;
	}
	#about .half-box:nth-child(1){
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		-o-transform: scale(.8);
		transform: scale(.8);
	}
	#about .half-box:nth-child(2) {
	    margin-top: -80px;
	}
	.sota-bg {
	    display: none;
	}
	.sota-steps-container{
	    -webkit-transform: translate(0px, 0px);
	    -moz-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	    -o-transform: translate(0px, 0px);
	    transform: translate(0px, 0px);
	}
	.sota-container {
	    -webkit-transform: rotate(0deg) translate(0px, 0px);
	    -moz-transform: rotate(0deg) translate(0px, 0px);
	    -ms-transform: rotate(0deg) translate(0px, 0px);
	    -o-transform: rotate(0deg) translate(0px, 0px);
	    transform: rotate(0deg) translate(0px, 0px);
		padding-bottom: 60px;
    	padding-top: 110px;
	}
	.sota-steps-container{
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 0;
	}
	.sota-steps-container .sota-wrapper:nth-child(odd){
	    -webkit-transform: rotate(30deg) translate(-26%, -1%);
	    -moz-transform: rotate(30deg) translate(-26%, -1%);
	    -ms-transform: rotate(30deg) translate(-26%, -1%);
	    -o-transform: rotate(30deg) translate(-26%, -1%);
	    transform: rotate(30deg) translate(-26%, -1%);
	    margin: -10px;
	}
	.sota-steps-container .sota-wrapper:nth-child(even){
	    -webkit-transform: rotate(30deg) translate(13%, -27%);
	    -moz-transform: rotate(30deg) translate(13%, -27%);
	    -ms-transform: rotate(30deg) translate(13%, -27%);
	    -o-transform: rotate(30deg) translate(13%, -27%);
	    transform: rotate(30deg) translate(13%, -27%);
	    margin: -10px;
	}
	.sota-steps-container:last-child .sota-wrapper:nth-child(even){
	    -webkit-transform: rotate(30deg) translate(-26%, -1%);
	    -moz-transform: rotate(30deg) translate(-26%, -1%);
	    -ms-transform: rotate(30deg) translate(-26%, -1%);
	    -o-transform: rotate(30deg) translate(-26%, -1%);
	    transform: rotate(30deg) translate(-26%, -1%);
	    margin: -10px;
	}
	.sota-steps-container:last-child .sota-wrapper:nth-child(odd){
	    -webkit-transform: rotate(30deg) translate(13%, -27%);
	    -moz-transform: rotate(30deg) translate(13%, -27%);
	    -ms-transform: rotate(30deg) translate(13%, -27%);
	    -o-transform: rotate(30deg) translate(13%, -27%);
	    transform: rotate(30deg) translate(13%, -27%);
	    margin: -10px;
	}
	.sota-safe-step {
	    width: 280px;
	    height: 243px;
	}
	.hero, .fs-slide-item{
		height: calc(100vh - 100px);
	}
	.fs-text-wrapper{
		top: 50px;
	}
	.slide-wrapper{
		padding-left: 10px;
		padding-right: 40px;
	}
	.slide-image-container{
		display: none;
	}
	.slide_text{
		width: 100%;
	}
	.fs-text-wrapper{
		width: 100%;
		margin-left: 0;
		padding-right: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.slide-subtitle br{
		display: none;
	}
	.social-links {
	    padding-right: 12px;
	    padding-top: 50px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.social-links ul{
		margin-left: -40px;
		height: calc(100% - 70px);
	}
	.social-links a{
		padding: 30px 0;
	}
	#safe{
		padding-bottom: 0;
	}
	.slide-btn {
	    margin-top: 40px;
	}
	#for-partners,
	#facts,
	#offer,
	#about{
		padding: 70px 0;
	}
	#for-partners .box-title,
	#for-partners .subtitle{
		margin-left: 24px;
	}
	.fp-icon{
		margin-right: 10px;
	}
	footer .wrapper{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.f-social{
		margin: 20px 0; 
	}
	.policy {
	    text-align: center;
	}
	#safe .box-title {
	    margin-left: 24px;
	}
	.box-title {
	    font-size: 24px;
	}
	.action-box{
		padding: 100px 0;
	}
	.action-title{
		font-size: 24px;
		letter-spacing: .48px;
	}
	.action-subtitle{
		font-size: 16px;
	}
	#facts .wrapper, .wrapper{
		padding-left: 10px;
	}
	.road-steps{
	    padding-left: 40px;
	}
	.road-steps .r-step:nth-child(5) .before,
	.road-steps .r-step .before{
		left: -40px;
	}
	.road-steps:after,
	.road-steps:before {
	    left: 8px;
	}
	.road-steps .r-step:nth-child(6) .after {
	    left: -35px;
	}
	.road-steps .r-step:nth-child(6) .before {
	    left: -45px;
	}
	#safe .word-bg, #offer .word-bg, #about .word-bg,
	.word-bg, #roaad-map .word-bg,
	#for-partners .word-bg {
	    left: 0px;
	    font-size: 60px;
	    letter-spacing: 6px;
	}
	#facts .word-bg,
	#safe .word-bg{
		top: 70px;
	}
	#for-partners .word-bg .word2 {
	    padding-left: 40px;
	}
	#facts .box-title{
		margin-right: 25px;
	}
	.prime-box:nth-child(4), .prime-box:nth-child(5),
	.prime-box{
		width: 100%;
	}
	#for-partners .half-box:nth-child(1){
		padding: 0 10px;
	}
	#for-partners .half-box:nth-child(1),
	.flipContainer{
		-webkit-transform: scale(.6);
		   -moz-transform: scale(.6);
		    -ms-transform: scale(.6);
		     -o-transform: scale(.6);
		        transform: scale(.6);
	}
	#offer .half-box:nth-child(2){
		padding: 130px 10px 0;
	}
	.slide_title {
	    font-size: 30px;
	    letter-spacing: 0.44px;
	}
	.navigation-arrows {
	    margin-right: 0px;
	    padding-left: 0;
	}
}
@media(max-width: 400px){
	.sota-safe-step {
	    width: 260px;
	    height: 223px;
	}
}