@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65325471');
  src: url('../font/fontello.eot?65325471#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?65325471') format('woff2'),
       url('../font/fontello.woff?65325471') format('woff'),
       url('../font/fontello.ttf?65325471') format('truetype'),
       url('../font/fontello.svg?65325471#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65325471#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-percent:before { content: '\e858'; } /* '' */
.icon-euro:before { content: '\e859'; } /* '' */
.icon-lire:before { content: '\e85a'; } /* '' */
.icon-bitcoin:before { content: '\e85b'; } /* '' */
.icon-rub:before { content: '\e85c'; } /* '' */
.icon-dollar:before { content: '\e85d'; } /* '' */
.icon-ethereum:before { content: '\e85e'; } /* '' */
.icon-team:before { content: '\e85f'; } /* '' */
.icon-diamond:before { content: '\e860'; } /* '' */
.icon-marketing:before { content: '\e861'; } /* '' */
.icon-referal:before { content: '\e862'; } /* '' */